[2013-05-03 01:16] garkbit opened #1 "[TinyMCE] Updating model when setContent is called causes a TinyMCE formatting 'splosion"
**Note: this is a duplicate of [this here issue #557 over here](https://github.com/angular-ui/angular-ui/issues/557).**

When a model is bound to both an instance of TinyMCE and something else (say a plain ol' textarea), problems arise when updating the model from said something else. This is easiest to understand with an example:

http://jsfiddle.net/EwMsa/

Enter some text in the plain textarea.

[2013-05-07 00:18] Michieljoris opened #2 "Wrong README.md (ui-date directive instead of for ui-tinymce)"

[2013-05-07 00:21] Michieljoris opened #3 "Update for use with tinymce 4"
Event handling

TinyMCE 4.0 has a new way of binding events. Instead of the old dispatcher method it uses the more common "on" and "off" like for example jQuery. It also allows you to bind multiple events and cancel events using the more common preventDefault and stopPropagation.

// Old event
editor.onInit(editor, args) {
    // Custom logic
});

// New event
editor.on('init', function(args) {

[2013-05-15 10:06] tarjei opened #6 "Setup method doesn't account for multiple elements"
If you have multiple textarea elements on a page, then all the elements will be linked to a random one of the models and, also tinymce.init() will be called multiple times.

I worked around this by adding id's to each element and use the exact mode:

// In angular-tinymce.js ~line 77:
     setTimeout(function ()
            options['mode'] = 'exact';
            options['elements'] = attrs.id;

[2013-05-16 22:52] #1 closed, assigned to nobody

[2013-05-16 23:17] #6 closed, assigned to nobody

[2013-05-26 14:16] crazycactuz opened #7 "bower install angular-ui-tinymce - not found?"
Im new to this, but when i try to follow the guide for installing this bower cant find angular-ui-tinymce. I tried bower search for just angular and some of the other angular-ui modules show up, but not this.

Is this an error on my part or is it something that needs to be fixed here? Should i just bower install and point it to this repo? (seems in the documentation that that is possible)

[2013-05-27 21:47] #7 closed, assigned to nobody

[2013-06-07 17:05] #2 closed, assigned to nobody

[2013-06-09 19:35] crazycactuz opened #10 "tinymceOptions"
Hello again!

In the readme it says that we should use this to set options:
$scope.tinymceOptions = { ... }
I could not get that to work and i found no code that looks to be doing that in the source. (might be some angular- convention i dont know about?)

I did however find support for config via attributes:
        if (attrs.uiTinymce) {
          expression = scope.$eval(attrs.uiTinymce);

In th

[2013-06-12 21:19] #10 closed, assigned to nobody

[2013-06-14 10:40] OliverJAsh opened #11 "Misleading docs?"
I can't see anything in the code that fetches the `tinymceOptions` property from the controller as per the docs:

https://github.com/angular-ui/ui-tinymce#options

[code]

[2013-06-14 19:49] #11 closed, assigned to nobody

[2013-06-16 08:01] leonzinger opened #12 "tinymce fails to render the tinymce model in the textarea after changing the order of the list that tinymce is in"
I have a list of items, one of the items can be a tinymce editor. this list can change the order of the items in it. once i change the order of the items, my tinymce stops working.

here is a demo of my code(haml):

%li{:"ng-repeat"=>"item in items | toArray | orderBy:'position'",:class=>"item",:"ng-class"=>"{in_edit:item.in_edit}"}
    .edit{:"ng-show"=>"item.in_edit"}
      .close_item{:"ng-clic

[2013-06-28 05:51] RichardAlan opened #15 "Problem with a form containing a tinymce element not showing as $dirty"
I have the following code with the latest release of code that I downloaded on June 27th.

[code]

When I type into the input box at the start of the code the submit button becomes enabled.  However when I type into the tinymce window the button does not become unabled.  Everything else works okay but just not the form's dirty / pristine state.  Would appreciated some advice on how to handle this

[2013-07-05 08:50] strelok2012 opened #16 "Problem with image resizing"
Problem 1.
When i try resize image, resizing start, but not finished when i click inside tinyMCE
(and 'ObjectResizeStart','ObjectResized' events don't propagate).
 When i click outside tinyMCE, event 'ObjectResizeStart' don't propogate, but event 'ObjectResized' propogating.
So, i can resize image only when i click first inside tinyMCE, then outside tinyMCE.

Problem 2.
When i click on image insid

[2013-07-08 04:31] #16 closed, assigned to nobody

[2013-07-09 20:26] jorgeso opened #19 "Problems with setup option"
I'm getting the following error when using ui-tinymce:

Uncaught TypeError: Cannot call method 'add' of undefined

It is pointing to this:

setup: function (ed) {
            ed.onInit.add(function(ed) {
              ngModel.$render();
            });
            ed.onSetContent.add(function (ed, o) {
              if (ed.isDirty()) {
                ed.save();
                ngModel.$setViewVal

[2013-07-09 21:50] #19 closed, assigned to nobody

[2013-07-11 02:34] #15 closed, assigned to nobody

[2013-07-11 11:38] OliverJAsh opened #21 "Maintain versions for TinyMCE versions 3.x and 4.x"
I am currently stuck with TinyMCE version 3, but I would like to use some of the updates that have been made to this directive. Is it possible for us to maintain separate branches for each of these versions?

[2013-07-24 04:42] RichardAlan opened #23 "Model data does not always show up in the tinymce window"
My team member is noticing a problem with a tinymce window that is inside a Angular UI Bootstrap tab. Here is the code she is using:

[code]

We are using the very latest code as of July 24th. We have a normal table grid of data with an edit button as the first column on each row. When the edit button is clicked for the first time, the modal is opened, the tinymce window appears and the text is re

[2013-07-24 04:56] RichardAlan opened #24 "What is a "javascript tinymce object""
I am reading the documentation and it states: "The ui-tinymce directive stores and expects the model value to be a standard javascript tinymce object."  Sorry but I am not clear on what is a "javascript tinymce object". A few lines more to explain this would be a great help.

When looking at the code I notice some different options. For example:

        link: function (scope, elm, attrs, ngModel)

[2013-07-24 13:15] zoharsacks opened #25 "Installation using Bower failes"
following the installation manual i get he following error message

using windows machine

Note - installing in empty folder does work

[2013-07-24 19:53] francisl opened #26 "console.log"
if possible, removing the  console.log will reduce noise

thank you

-- a/src/tinymce.js
+++ b/src/tinymce.js
@@ -30,7 +30,6 @@ angular.module('ui.tinymce', [])
             });
             // Update model on keypress
             ed.on('KeyUp', function (e) {
-              console.log(ed.isDirty());
             ed.save();
             ngModel.$setViewValue(elm.val());
             if (!scope.$

[2013-07-29 18:18] xiehan opened #27 "Either bump the project version or move the switch to TinyMCE 4.0.x to a separate branch"
I kept getting the error `Cannot call method 'add' of undefined (line 41)` and it took me a couple of hours of debugging to discover that the problem was that when I ran `bower install angular-ui-tinymce`, it installed the old version of the code (before the move to TinyMCE 4.0); however, the version of TinyMCE included in "tinymce-release" (which the package installed as a dependency) is now 4.0.

[2013-07-30 14:24] calekennedy opened #28 "Are you going to publish this to the node package manager?"
I'm just curious because I'm adding this functionality to a node site I'm building.

[2013-08-05 20:44] #26 closed, assigned to nobody

[2013-08-07 07:52] mistvan opened #33 "Problem using ui-tinymce inside of ng-repeat"
Hi all,

I am trying to use tinymce editor on my webpage.
I founded problem when I want to use it inside of ng-repeat.
It should load article content into tinymce editor, but it is not working.

http://plnkr.co/edit/AFOQZUaaa6ieDuAUnExW?p=preview

Can somebody help me with that please?

[2013-08-07 08:55] #33 closed, assigned to nobody

[2013-08-07 09:56] kaplin opened #34 "Model is not updated after image resize"
Steps to reproduce
1. Open http://jsfiddle.net/HM5hq/
2. Open JS console in your browser
3. Click "Add image" button on the tinymce toolbar
4. Insert any image URL, say, http://personal.psu.edu/tao5048/JPG.jpg and click OK
5. There's a line appeared in JS console — showing that model has been changed
6. Now, resize image using mouse

Expected result: model is changed
Actual result: model is not ch

[2013-08-07 14:05] wmill opened #35 "Bower directories don't match documentation directories."
In the docs files are located here:

[code]

But bower is installing them here:

[code]

[2013-08-11 15:32] chiragchamoli opened #36 "ui-tinymce inside a ng-include partial"
I am adding tinymce inside a partial using ng-include. This is not working. When I move the same syntax to the view file, it is loading properly. Any suggestion, how can I add tinymce inside a partial?

[code]

[2013-08-12 18:29] thoersch opened #37 "TinyMCE Set Content calls are not updating NgModel"
The only update model bindings are for 'ExecCommand' and 'KeyUp' which takes care of the majority of update to the editor window, however, if you make a change to the source code directly via the editor 'Source Code' button, the model is *not* updated unless making an a keystroke so the 'KeyUp' binding executes.

Quick Reproduce:
* enter text
* see model change
* edit via source code and add valid

[2013-08-13 17:26] #36 closed, assigned to nobody

[2013-08-13 18:58] leiseflehen opened #38 "Tinymce text-editing area gets "blocked-out" when changing the order of the list"
Similar to issue #12.
His problem was that tinymce doesn't get rendered; my problem is that it does get rendered but the text-editing area is covered with block (as opposed to white editable area).
I am putting a new post at the top, so it messes up all the elements in the list.
When I put a new post at the bottom, it works but when I delete a post, everything below that post gets "blocked-out" wh

[2013-08-22 11:02] jonrimmer opened #41 "Inline editors do not work"
When TinyMCE is configured to appear in "inline" mode, via the ```inline: true``` configuration option, then text entry does not work properly. With a textarea element, the text disappears, whereas with divs, the caret is repeatedly moved to the beginning of the content, resulting a kind of backwards-writing effect. See this plunkr for a demonstration (happens in Chrome and Firefox).

http://plnkr

[2013-08-27 22:55] #28 closed, assigned to nobody

[2013-09-06 20:33] wintermuted opened #42 "Formatting not being carried over"
I'm unable to get formatting other than paragraph tags copy into my model when posting to a server.

When I make edits that add bold, for example, the items do not come through in the post.  It ends up looking something like this:

[code]

[2013-09-29 11:35] orzilca opened #44 "Wrong theme url"
Using angular-ui-tinymce & ng-boilerplate.

TinyMCE tries to load the theme file from the directive folder:
[code]

Trying to set any of this settings and nothing happens!
[code]

[2013-10-08 13:56] amitriptillin opened #46 "Angularjs-Tinymce4.0-Table resize sticky problem"
Still not working:
I use https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js and tinymce4.0. All is working fine except when i start to resize a table inserted by the table-plugin, the table sticks to cursor and its not possible to set the size of the table on mouse-up except you leave and click somewhere outside the editor.

I created an example (http://volker-ahlers.de/tinimce/)

[2013-10-14 21:13] #42 closed, assigned to nobody

[2013-10-23 07:58] graphicsxp opened #48 "control is always dirty"
The control is bound to the model as shown below.

`<textarea id="comment" name="comment" ui-tinymce="tinymceOptions" ng-model="comment"></textarea>`

when I set a watch on 'comment', I can see the value going from undefined to some value whenever the data come back from the server. But then the control becomes dirty.

How to prevent that  ?

[2013-10-23 14:48] honeyd opened #49 "A delay in setting the model will cause tinymce to remain empty"
Here is a Plunker to demonstrate the issue: http://plnkr.co/edit/D1UFaF

I have put a timeout around setting the model that contains the content that should display in tinymce. As you can see in the Plunker, the regular 'ol textarea eventually loads up, but tinymce does not.

I'm using AngularJS 1.2.0-rc3, and the latest version of tinymce (4.0.8 at this moment).

[2013-11-07 23:36] dimirc opened #52 "Native WYSIWYG directive?"
Any plan to create a native directive for a WYISWYG editor?

Maybe ui-wysiwyg?

[2013-11-26 20:31] mascip opened #57 "Some toolbar buttons don't work. They don't even get added to the editor."
I try to use these options:
    $scope.tinymceOptions =
        menubar: false
        statusbar: false
        toolbar: "redo undo | styleselect | bold italic | spellchecker link image | save"
But several buttons of the toolbar aren't even visible. I see the first 5 buttons, but not the last 4 ones. If I change the order of the buttons, the problem is the same.

[2013-11-26 21:00] sebglon opened #58 "Fail with Angular 1.2.1"
Uncaught TypeError: Object [object Object] has no method 'on'
on line 33

[2013-11-26 21:15] #58 closed, assigned to nobody

[2014-01-12 23:32] a-lucas opened #62 "Loading data from a Service before the ngModel.$render call."
I want to load a set of predefined colors trough a service called Colors.

Modifying the 'uiTinymceConfig' after it was first declared would break the editor.

I made it work modifying the source code :

replacing :

    setup: function (ed) {
            var args;
            ed.on('init', function(args) {
                ngModel.$render();
            });

By

    setup: function (ed) {

[2014-01-23 16:11] michael-wynn opened #66 "DOM is not cleaned up after $destroy"
Issue: when the element is removed (e.g. via an ng-if condition changed), the old mce element is left in the DOM.  Adding the following code block to link function would fix the problem:

elm.on('$destroy', function(e){
    elm.parent().children('.mce-panel').remove()
});

[2014-02-02 01:05] ckalan opened #67 "ngModel.$render not called when model changes"
When model value is changed programmatically, tinymce editor is not updated. I've tested this with angular-js 1.2.10.

Debugging the code shows that render method is not called because input's render model overrides it.

I tried to set the 'priority' of the directive to 1000 but it seems that it does not affect the order of execution of the link functions.

I resolved the issue by overriding the r

[2014-02-05 04:17] stephennancekivell opened #68 "tinymce is requesting the theme css lots"
I have ui-tinymce a few times in my page. Sometimes when refreshing the page (about 1 out of 5 times) it requests content.min.css lots.

Why is it doing this. I dont think it should. They are cached requests but it seems to take some time and I can see tinymce flicker.

![screen shot 2014-02-05 at 3 07 24 pm](https://f.cloud.github.com/assets/727013/2084263/66fc9d9c-8e1c-11e3-8ef9-f44caafe2305.png

[2014-03-05 09:17] egervari opened #69 "Angular UI Tinymce deletes content from ng-model and 2-way binding does not work when not using `<textarea>`"
One problem I am having with TinyMCE editor and Angular UI's light wrapper is that ng-model doesn't appear to do the 2-way binding that I would expect with the model data on the scope when changes are made in the editor. This problem only seems to happen when `<div>` or `<p>` is used.

The 2-way binding seems to work just fine when I use `<textarea>`, but this is not what I want... I want an inlin

[2014-04-07 13:12] inazar opened #72 "When using tinymce option 'setup' the directive is not initialized properly"
Setting `setup` option to `ui-tinymce` directive options (i.e. `ui-tinymce` attribute value) causes directive's setup function to be skipped.

Below is the diff with fix. `setup` function has following footprint: `function (scope, editor) {}` where `scope` is directive's scope and `editor` is the editor passed to directive's `setup` function.

[code]

[2014-04-19 23:52] #72 closed, assigned to nobody

[2014-04-19 23:54] #66 closed, assigned to nobody

[2014-04-19 23:55] #3 closed, assigned to nobody

[2014-04-20 00:01] #49 closed, assigned to nobody

[2014-04-20 00:02] #23 closed, assigned to nobody

[2014-04-20 00:03] #25 closed, assigned to nobody

[2014-04-20 00:04] #35 closed, assigned to nobody

[2014-04-20 00:18] #68 closed, assigned to nobody

[2014-04-20 10:59] #34 closed, assigned to nobody

[2014-04-20 11:01] #27 closed, assigned to nobody

[2014-04-20 11:02] #46 closed, assigned to nobody

[2014-04-20 11:12] #48 closed, assigned to nobody

[2014-04-20 11:18] #67 closed, assigned to nobody

[2014-04-20 12:04] #52 closed, assigned to nobody

[2014-04-22 12:52] Danita opened #74 "There seems to be no way to disable the control"
It doesn't honour parent `<fieldset>` ng-disabled state...

[code]

And it even won't respect own `ng-disabled` directive.

[code]

This is important for example to prevent the user to continue writing text on the control after he has submitted the form.

[2014-04-23 16:50] mruoss opened #75 "Version 0.0.5: When using ngModel the editor is emptied on focus"
Hi there. I just upgraded to version 0.0.5 in which, compared to 0.0.4, you added a priority to the directive. Now each time I focus my editor, its content is empty. I expect the editor to be filled with the contend of the bound model.

I'm using a textarea with ngModel whereas contentBlock.content holds some text:

[code]

I found out that everything works fine if I  **remove the priority** from

[2014-04-29 23:04] vgotra opened #77 "mce does not load value from model"
Could you please add priority with value greater then 0 to directive.

return {
            require: 'ngModel',
            priority: 1,
            link:

Such solution should prevent replacing your ngModel.$render.

Thanks

[2014-05-03 20:34] Yankovsky opened #78 "blur() method is not supported by jqLite"
[List of all supported methods](https://docs.angularjs.org/api/ng/function/angular.element#angular-s-jqlite)
We can either add full jquery to dependencies list or write blur event trigger method by ourselves.

[2014-05-04 02:25] Yankovsky opened #79 "Tests are not isolated properly"
Tinymce editors don't properly removed between tests.

[2014-05-08 17:56] jojobyte opened #82 "TypeError: Cannot read property '$$phase' of null"
I am getting the following error when loading a view using this plugin.
[code]

Changing the following lines from https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L16-L18

[code]

to

[code]

seem to fix it.

[2014-05-27 12:07] timjong93 opened #83 "handle_event_callback, e is undefined"
When i add handle_event_callback to the options. In the functions handling the callback (as described in the readme.md) the parameter e is undefined this makes it impossible to check which event fired. The usecase for this is that i want to save the changes made to  remote server when focus of the editor is lost.

Has anyone had issues with this?

[2014-05-31 02:11] zxbodya opened #84 "bower is confused because of tags "0.0.5" and "v0.0.5""
The problem is because there is two similar tags: "0.0.5" and "v0.0.5",
bower with dependency:
[code]
will not install latest version - it will install old one from tag 0.0.5

[2014-06-23 17:21] IuryAlves opened #88 "scope.$apply moves the caret to the beginning"
Hi, i am using the ui-tinymce directive with tinymce 3.x and change the version to 4x it's not a possibility. The problem is: when the function updateView() is called the caret of the textarea moves to the beginning and i couldn't find a solution for that.

[2014-09-11 16:33] ncharlot opened #94 "Link plugin: change link doesn't update model"
If you change a link (not set), model is not updated.

In link `plugin.js` line 47, replacing:

    // Update model on change, i.e. copy/pasted text, plugins altering content
    ed.on('SetContent', function (e) {

By:

    // Update model on change, i.e. copy/pasted text, plugins altering content
    ed.on('change', function (e) {

is working. But I mean `SetContent`has been used for a good reaso

[2014-09-16 00:50] gordon-matt opened #95 "Unable to share a configuration between multiple textareas"
It seems there is a problem when trying to reuse a tinymce configuration for more than one textarea. Please see my related post on Stack Overflow:

http://stackoverflow.com/questions/25839511/possible-bug-with-angular-tinymce?noredirect=1#comment40443417_25839511

[2014-09-18 14:16] moeHaydar opened #96 "Height is stuck to 100px and cant be set intially!"

[2014-09-18 14:21] #96 closed, assigned to nobody

[2014-09-21 16:39] jjoedouglas opened #97 "Set viewModelValue to trusted html to avoid unintentional sanitation"
Currently trying to underline text causes the style attributes to be automatically stripped by Angular's sanitation.  This is particularly a problem when underlining text with the default tinymce settings (the <u> tag is deprecated so style="text-decoration: underline" is used instead).

Since tinymce generates html, it makes sense to wrap it as trusted html, which would fix the issue.

The big pr

[2014-10-01 00:04] daviesgeek opened #99 "Update bower dependencies to use the official TinyMCE repo"
Proposal: Switch this over to the official repo at https://github.com/tinymce/tinymce-dist

[2014-11-02 17:05] jjoedouglas opened #102 "Paste from context menu does not update model"
When pasting from the context menu the updateView function does not called.

This is fixed by adding a listener for the PostProcessPaste event which is made available by the paste plugin.  So the paste plugin needs to be injected during setup as well (if it's not already present).

I'd send a pull request but I'm a giant github noob and have no idea how to send two independent pull requests to the

[2014-11-11 12:11] mabi opened #103 "detect color changes"
Color changes are not detected (and saved) I made a new commit in PR #100 addressing that, the event is fired many times, but I coud not find another one able to detect those changes.

[2014-11-15 16:15] coud opened #104 "The editor doesn't play nice with mceRemoveEditor and mceAddEditor commands"
If you do this. You will get an error:

Error: this.getDoc(...) is null.

While I'm debugging the issue. I found out that this is because after the editor has been removed, the tinyInstance variable in ngModel.$render still holds the old destroyed instance of the editor.

To fix this we need to listen to the 'remove' event in the setup function of the options variable and empty the tinyInstance va

[2014-11-20 10:46] Louhike opened #105 "Use another language"
Hi,

I would like to use another language with the component. TinyMCE has some packages for the languages which can be added manually.

Wouldn't it be a good solution to add this packages through bower for ui-tinymce?

Or do you consider it a non-issue and that it should be managed manually.

I think it might simpler if it only needed for the user to add a new package in the Bower configuration fi

[2014-11-30 03:36] webchaz opened #108 "loadCSS"
Is it possible to call the loadCSS (http://www.tinymce.com/wiki.php/API3:method.tinymce.dom.DOMUtils.loadCSS) using this plugin?  Since it's not an option, but a function?

[2014-12-02 13:23] MaitreDede opened #109 "Custom tools calling angular code"
Hi,

I would like to call my angular module services from a custom tool added to the tinymce control.
I add it using "setup" in configuration : http://www.tinymce.com/wiki.php/Configuration:setup

    editor.addButton('name', { onclick: function() { /* code */ } })

In the button's code, I want to inject parameters to a function that will execute my button's code, to open an other modal, like this

[2014-12-17 22:46] polojko opened #112 "angular-ui/ui-tinymce setup method in tinymceOptions breaks model binding"
I want to add a custom button to the tinymce toolbar, and added a setup function to tinymceOptions as discribed in the docs:

$scope.tinymceOptions = {
     setup: function (editor) {
               editor.addButton('myMethod', { //myCode }
     },
    //more options
}

<textarea ui-tinymce="tinymceOptions" ng-model="model.content"></textarea>

Adding the setup function breaks the binding with the

[2014-12-19 11:39] blabno opened #113 "setContent of an textarea with tinyMCE"
I have a wizzard that on each step renders tinymce bound to different scope variable.
When I do full page refresh the value is rendered inside tinymce, but if I'm switching between wizzard steps (ng-if) the editor does not render content.

I found solution here: http://stackoverflow.com/a/11781367

[2014-12-22 08:20] Ireland999 opened #115 "about tinymce"
I have a problem about tinymce，Get the text in the domain of the value in the ng-model is empty，
I don't know what the reason is。

[2015-01-01 13:46] NgYueHong opened #116 "Project Unmaintained?"
The project shows build error and last commit was over 8 months ago. Really hope to see at least proper build of the project.

[2015-01-01 21:02] joshuakon commented on #112
this doesn't work for me. the attrs object isn't defined. if I remove the mode and elements items, the editor doesn't load.

[2015-01-03 19:45] RopoMen commented on #103
Hi,
Could you also check that is my jsfiddle which is listening 'change' event doing the right thing to your issue as well, I commented this ticket https://github.com/angular-ui/ui-tinymce/pull/110 there is link to the jsfiddle which has 'change' event listerner added.

If that 'change' event is enough then 'nodeChange' listerner would not be needed.

[2015-01-03 20:14] RopoMen opened #117 "TinyMCE with Bootstrap modal"
Hi,
I didn't invent this fix by myself, but I report this issue over here, because I think that this could be fixed inside this directive.

Issue is that when you initialize tinymce editor inside Bootstrap modal window and you open tinymce link editor, you cannot add link because you cannot get focus on that link dialog.

Here is discussion of that issue as well coulple of jsfiddle links where the

[2015-01-07 07:55] stephanie-dm commented on #48
Why is this issue closed when the problem is not fixed? I tried with tinymce 4.0.25 and the original problem (form marked dirty as soon as the tinymce-control is loaded). I obviously don't want to make changes in the tinymce code, because after a "bower update" my changes will be gone! And I don't want to start maintaining my own version of tinymce...

[2015-01-08 18:26] helmutkian commented on #112
If you do not need to handle events that occur before the ``'init'`` event, then until the issue with ``setup`` is resolved, you could use ``init_instance_callback`` instead.

So replace

[code]

with

[code]

[2015-01-09 12:30] RopoMen commented on #103
Hi,
But if the 'change' event does the same thing then only that should be added, so that directive only listens relevant events and not all..

http://jsfiddle.net/RopoMen/swvcbfhm/

That jsfiddle contains 'change' event listner, but I just wanted to be sure that my 'change' event listener does what OP wanted :)

[2015-01-22 05:52] minutephp commented on #112
This seems to work for now:

inside tinymce.js

[code]

inside your_code.js
[code]

[2015-01-22 12:25] tezaurus commented on #82
Working! Thank you!

[2015-01-22 18:00] LeleDev commented on #116
+1

[2015-02-10 16:36] ghominejad commented on #82
I have a page controller without any parameters (`app.edit`). angular loads the page without any problem for the first time. but in the next time when i want switch to this page again `$state.go('app.edit')`. angular doesn't load the tinymce control and the same error appears!

[2015-02-12 12:15] abhinavguptas commented on #116
Angular 1.3 and Tinymce are not going very well with each other. Its no more working with multiple Tinymce instances on same page.

I might try to fix the plugin, but no maintainer of this project is a worry :(

[2015-02-14 13:45] danielgolub commented on #94
This is a major issue and have to be fixed in the near future!!
@ncharlot solution worked.

[2015-02-27 13:36] fabiopaiva commented on #44
I got this error using bower install. I solved with:

    angular.module('myApp', []).config(function() {
        tinyMCE.baseURL = '/bower_components/tinymce';
        tinyMCE.suffix = '.min';
    })

[2015-03-01 20:54] AquilaSagitta commented on #44
Simple fix is just to add theme and skin directories to you're /dist/scripts

[2015-03-06 06:36] zishanj opened #120 "Doesn't remove instance of Editor"
I am using this tinymce editor directive inside ng-repeat. When I try to remove specific instance from the list then it always trigger the $destroy on last element in the list. For example, if I have a list of 4 elements and uses ng-repeat to display a list with editor and remove button; then when I click the remove button on element 2, it will trigger $destroy on last element 4 and removes that e

[2015-03-24 18:22] CyborgMaster commented on #84
Any update on this?  I'm having troubles with it myself because of this.

[2015-03-24 18:52] CyborgMaster commented on #84
It shouldn't take much effort to fix, if we simply delete the old tag, or release v0.0.6 that should solve the problem.

[2015-03-24 23:09] giannisp commented on #104
Had the same issue on a legacy project.
The scenario was Fancybox + TinyMCE 4 + ui-tinymce, which required the two calls mceRemoveEditor/mceAddEditor to play nice.
The remove event you have mentioned saved the day, thanks a lot!

[2015-03-25 12:17] AndreyKornyenko commented on #82
Bug is reproducing for me

[2015-03-26 04:35] daynejones commented on #112
Can confirm this is an issue for me as well.

[2015-03-26 06:32] daynejones opened #122 "Custom config'd setup method is deleted during the first init"
All subsequent inits will not have the user specified setup method.

[2015-03-30 15:23] naitsirch commented on #116
This is a pity :-( any volunteers who'd like to continue this project?

[2015-03-30 15:56] svemir commented on #116
We have forked it and merged some of the outstanding pull requests. You could either do it yourself too, or let us know which ones you would like to see merged. We are currently not in a need of multiple instances on the same page, but we do plan to merge some more bug fixes. Our fork is at https://github.com/Symplicity/ui-tinymce

[2015-04-10 21:15] subyraman opened #125 "extended_valid_elements, stop escaping iframes"
Multiple TinyMCE answers say the way you can have iframes without HTML escaping is like this:

[code]

But this isn't working in angular-tinymce. When I try and paste iframe code it escapes everything like follows:

[code]

Any ideas how to make this work?

[2015-04-13 21:59] corporationsruleyourmom opened #126 "Multiple instances of tinymce"
Has this issue been resolved? Can we have multiple tinymce's in different views?

[2015-04-14 16:18] thatguyyoulove opened #127 "Tags are messed up."
Looks like the tags are a bit messed up for Bower. Checking out the latest version checks out 0.0.5, but this points to the 0.0.5 tag rather than the v0.0.5 tag. Thus, 3 months of commits are not included.

Would be good to remove the ambiguity of having two 0.0.5 tags. Suggest making a single 0.0.6 tag with latest commit, or adjusting bower.json to resolve to correct tag.

[2015-04-14 16:24] thatguyyoulove commented on #112
This was resolved with ae37bb9dd9e1094b5a2379bb4a63e35209f14622, however the tagging is currently messed up and version 0.0.5 does not currently resolve to the correct version 0.0.5 tag.

Recommendation is to download the .zip of the real v.0.0.5 and use that in the interim.
https://github.com/angular-ui/ui-tinymce/archive/v0.0.5.zip

[2015-04-15 19:05] Uznick commented on #82
Still reproduces in 0.0.5

[2015-04-27 10:09] ammar91 opened #128 "How to get Plain Text"
Is there anyway, I can get extract plain text from actual model value? The model binding works great, I am just wondering if somehow I can get plain text (unformatted version) as well?

Any help on this would be appreciated.

[2015-04-30 10:42] mudassir0909 commented on #82
@Uznick did you find a workaround ?

[2015-04-30 10:43] Uznick commented on #82
@mudassir0909 nope, still living with it.

[2015-04-30 10:46] mudassir0909 commented on #82
:cry: guess I'll use a forked repo until then

[2015-05-06 18:15] Joni-Aaltonen commented on #48
Has there been any good solution to this, other than hacking your tinymce.js?

[2015-05-06 18:41] Joni-Aaltonen commented on #127
Yes, please fix tagging.

[2015-05-11 20:12] alexbowers commented on #128
I have worked this out, and sent in a pull request. for now it is here:

https://github.com/angular-ui/ui-tinymce/pull/130

[2015-05-20 16:24] sgentile commented on #95
This is a show stopper - no response to this since Sept 15, 2014 - is this project dead ?

[2015-05-24 03:21] vasromand opened #132 "Ctrl+Z doesn't update a model"
If I make change in text, then save it - all is good.
If then I cancel changes and save it - data doesn't change.

[2015-05-29 17:35] rbecheras commented on #112
Ok @thatguyyoulove it cool, but why there is no new tag 0.0.6 tag ?
This issue is important !

[2015-05-29 18:01] thatguyyoulove commented on #112
Comment on #127 to get support for having it fixed please.

[2015-05-29 21:41] rbecheras commented on #127
+1

[2015-05-29 23:19] rbecheras commented on #127
I just fixed the issue in my fork: http://github.com/rbecheras/ui-tinymce
* I versionned the bower and npm package to 0.0.6
* I tagged it v0.0.6
* I also registred the bower package `angular-ui-tinymce-v0.0.6`
* So you can install it instead of the official while the angular-ui team merge my pull request and propagate the tag

    $ bower remove angular-ui-tinymce --save
    $ bower install angula

[2015-06-01 12:13] rbecheras commented on #122
+1. Why that is not merged in 0.0.5 ?

[2015-06-01 12:53] rbecheras opened #134 "uiTinymce should remove tinymce instance on $scope destruction FAILED"
Running unit test on the last commit  cause fails

	$ grunt
	Running "jshint:files" (jshint) task

	Running "karma:unit" (karma) task
	INFO [karma]: Karma v0.12.35 server started at http://localhost:9876/
	INFO [launcher]: Starting browser Chrome
	WARN [web-server]: 404: /favicon.ico
	INFO [Chromium 41.0.2272 (Ubuntu 0.0.0)]: Connected on socket Y6kehwI0-Kr-tvtQIFXW with id 24219114
	Chromium 41.0

[2015-06-05 18:27] wesleycho commented on #127
I just deleted the 0.0.5 tag, this should work as expected now.

[2015-06-05 18:27] #127 closed

[2015-06-05 18:35] wesleycho commented on #134
Fixed via 2b3554da0e9d67393130b7f9d62f3531d94ec473

[2015-06-05 18:35] #134 closed

[2015-06-05 18:38] wesleycho commented on #120
If the editor all has the same `id` attribute value in the ng-repeat, then it may not garbage collect properly - what happens if you do something like `id="foo-{{$index}}"` in the ng-repeat?

[2015-06-05 18:43] wesleycho commented on #117
This has a problem - if a user has multiple tinymce windows, then it may not target the desired window.

I also recommend investigating using a library like [UI Bootstrap](http://angular-ui.github.io/bootstrap/) or [Angular Strap](http://mgcrea.github.io/angular-strap/) over vanilla Bootstrap JS.

[2015-06-05 18:45] wesleycho commented on #126
Can you reproduce this in a [Plunker](http://plnkr.co/)?

[2015-06-05 19:15] wesleycho commented on #113
I am confused - what does setting the html content do that is special?

[2015-06-05 19:15] wesleycho commented on #84
I have fixed this issue today, the 0.0.5 tag has been deleted.

[2015-06-05 19:15] #84 closed

[2015-06-05 19:16] wesleycho commented on #82
I switched this to `$rootScope`, which is what the code should have referenced - this should now be fixed.

[2015-06-05 19:16] #82 closed

[2015-06-05 19:20] #79 closed

[2015-06-05 19:22] wesleycho opened #138 "Need quality maintainer for project"
For some reason, I have become the maintainer of this repository, even though I did not create this project, nor am heavily involved.

For the near term, I do happen to have time to contribute some for this library, but I would like to find a/some true long term maintainer(s) who can take control of this and upgrade this project as necessary. Any interested people should have high code quality and

[2015-06-05 20:23] thatguyyoulove opened #139 "Missing 0.0.6 tag (needed for bower)"
@wesleycho Looks like we still need a 0.0.6 tag for bower to see the updated version. (41b8cff65227b795dc7dfa807f0dde6974fda58f)

[2015-06-05 20:58] wesleycho commented on #139
I released [0.0.6](https://github.com/angular-ui/ui-tinymce/tree/v0.0.6) just now :) .

[2015-06-05 20:58] #139 closed

[2015-06-05 21:31] wesleycho commented on #125
Can you put a reproduction on [Plunker](http://plnkr.co/)? I was not able to reproduce this, and was able to get it to successfully whitelist according to user set attributes.

[2015-06-05 21:33] wesleycho commented on #132
I am not able to reproduce this - this may have been a bug before I made some updates earlier today. Try the new 0.0.6 release, and feel free to let me know if this is still an issue.

[2015-06-05 21:33] #132 closed

[2015-06-05 21:35] wesleycho commented on #115
Closing this issue as it does not give enough actionable information - if you have more information, I would be happy to reopen the ticket then.

[2015-06-05 21:35] #115 closed

[2015-06-05 21:40] wesleycho commented on #112
I believe this is now fixed - I have removed the broken 0.0.5 tag and released 0.0.6.

I do however think that the api is a little awkward for extending the setup function - I am open to any ideas on a better way to extend the logic in the existing callbacks, in the event the user wants custom behavior to happen, if it is desired. If anyone is interested, feel free to open a new issue on this.

[2015-06-05 21:40] #112 closed

[2015-06-05 21:41] wesleycho commented on #105
I think this should be optional as currently is, as localization is dependent on each user's needs and shouldn't be marked as a hard dependency.

[2015-06-05 21:41] #105 closed

[2015-06-05 21:47] wesleycho commented on #108
It is possible to call it manually (although keep in mind that this library supports 4.x, so it uses [this api](http://www.tinymce.com/wiki.php/api4:method.tinymce.dom.DOMUtils.loadCSS)).

I do not believe that it should be part of this library, since it is user config. I would recommend writing a wrapper service around the `tinymce` global and have it control loading on app boot.

[2015-06-05 21:47] #108 closed

[2015-06-05 21:50] wesleycho commented on #62
How I would do this is wrap the element with the ui-tinymce attribute with a div element with `ng-if`, and only toggle the `ng-if` condition to true when the relevant data is returned and the desired configuration value is set (I recommend using the `setup` configuration option).

Closing as I believe this is already achieveable.

[2015-06-05 21:50] #62 closed

[2015-06-05 21:52] wesleycho commented on #57
Closing as I am not able to reproduce this and was able to successfully load plugins by using the `plugins` option as @grantgeorge mentioned.

[2015-06-05 21:52] #57 closed

[2015-06-05 21:55] wesleycho commented on #75
Looking through the history, I don't see any particular reason why the priority was there in the first place.

I will remove it shortly.

[2015-06-05 21:56] #75 closed

[2015-06-05 22:11] wesleycho commented on #41
This should be fixed via cafdfa71e98be0faeaebe9a21e34f2c3ebd092ed

[2015-06-05 22:16] wesleycho commented on #103
I do not think the library should bind to that event if it indeed does fire that often - that could be potentially problematic when you have a fast typer.

Because of potential performance & UX concerns, I believe this should be implemented at the user level.

[2015-06-05 22:16] #103 closed

[2015-06-05 22:18] wesleycho commented on #37
Closing as I believe this is outdated. Feel free to comment if this is not the case.

[2015-06-05 22:18] #37 closed

[2015-06-05 22:34] #24 closed

[2015-06-05 22:43] wesleycho commented on #122
I believe this is now fixed in `master` with my changes/fixes today. Let me know if this is not the case.

[2015-06-05 22:43] #122 closed

[2015-06-05 23:37] wesleycho commented on #69
This should now be fixed in `master`.

[2015-06-05 23:37] #69 closed

[2015-06-06 00:09] wesleycho commented on #77
I believe this actually caused a bug, and had reverted it to no priority.

Can you reproduce this based on `master` in a [Plunker](http://plnkr.co/)?

[2015-06-06 00:18] wesleycho commented on #74
7554a1d7e0cd6a3fe2024b31d6b81294e7e177b5 should implement disabling on the textarea element (or any other element with the directive on it).

I am not sure we can do anything about respecting the fieldset one since we have no knowledge of the parent element. I understand that that would have accessibility implications though.

Perhaps we can support a disabled option in the option object for disab

[2015-06-06 00:23] wesleycho commented on #109
You probably want to delay the execution of that code until after the modal loads. The template will not be compiled html until then, which likely makes everything fail.

[2015-06-06 00:24] wesleycho commented on #102
I think this is now addressed with current `master`. Let me know if this is still an issue.

[2015-06-06 00:24] #102 closed

[2015-06-06 00:24] wesleycho commented on #99
Thanks for noticing this, although I had already found out and updated before seeing this :( .

[2015-06-06 00:24] #99 closed

[2015-06-06 00:27] wesleycho commented on #95
I believe this is now fixed in `master`. Just make sure that the textarea elements have different id attribute values and you should be fine.

[2015-06-06 00:27] #95 closed

[2015-06-06 00:30] wesleycho commented on #83
Looking into this, I believe this is now outdated, as the project is supporting 4.x right now and `handle_event_callback` is in 3.x.

[2015-06-06 00:30] #83 closed

[2015-06-06 00:33] #104 closed

[2015-06-06 09:40] wesleycho commented on #78
This is now fixed in `master`.

[2015-06-06 09:40] #78 closed

[2015-06-06 16:21] wesleycho commented on #12
Just noting here, I have a simpler plunker that reproduces the issue [here](http://plnkr.co/edit/vikkdAkGld5180jLkk2E?p=preview).

I believe I am close to a fix that creates support for a new $scope event to programmatically trigger refreshing of the directive, and hope to have one pushed up today.

[2015-06-07 13:03] #12 closed

[2015-06-07 13:03] #38 closed

[2015-06-07 13:05] wesleycho commented on #128
This feature is now available in `master`. Try out the `format` key, with value as supported by TinyMCE as documented [here](http://www.tinymce.com/wiki.php/api4:method.tinymce.Editor.getContent). You can use the value of `'raw'` (default value) or `'text'`

[2015-06-07 13:05] #128 closed

[2015-06-07 13:20] #97 closed

[2015-06-07 13:21] wesleycho commented on #113
I believe this may be fixed now in `master` - let me know if this is not the case.

[2015-06-07 13:21] #113 closed

[2015-06-07 13:26] wesleycho commented on #120
I believe this should be fixed in `master`. Be sure to remove the `id` attribute if you are using it, as I made an update to the API of the directive in order to correctly manage situations with `ng-repeat` and `ng-if`.

[2015-06-07 13:26] #120 closed

[2015-06-07 13:27] wesleycho commented on #126
I believe this should be fixed. Take note of the warning in the README and you should be good to go for making use of this.

[2015-06-07 13:27] #126 closed

[2015-06-07 13:29] wesleycho commented on #77
I believe this bug is now fixed, along with priority being removed.

[2015-06-07 13:29] #77 closed

[2015-06-07 13:36] #44 closed

[2015-06-07 13:42] wesleycho commented on #116
Most of the pre-existing issues should be fixed now in `master` (I have done some work at the request of @rbecheras).

If there are any more concerns, I would like the discussion to continue in #138, which is a call to action.

[2015-06-07 13:42] #116 closed

[2015-06-07 13:43] wesleycho commented on #94
I believe this is now fixed, as the library now uses the `change` event to trigger model changes.

[2015-06-07 13:43] #94 closed

[2015-06-08 05:12] ddalcu opened #140 "Adding iframe via source results in <img>"
It seems the output of TinyMCE to angularjs view module is the WYSYWYG html instead of the source html.

When embedding a iframe, the output results in a <img src="placeholder"> instead of the actual iframe.

[2015-06-08 05:22] ddalcu commented on #140
Fixed it on my side by not setting the format:raw option.
var content = editor.getContent({format: options.format}).trim(); //options.format is hardcoded to 'raw'
to
var content = editor.getContent();

[2015-06-08 10:19] rbecheras commented on #138
Hi @wesleycho, I am candidate for that. I never maintained an active open source project but I want to learn and I want to evolve in open source community. I am passionate and I understand and love the free software challenges. Maintaining this repository could be a nice start to me and I'd be happy to do it.

[2015-06-08 18:58] phuyem opened #141 ""ui-tinymce" not render properly in ngDialog"
Hello,

"ui-tinymce" editor got displayed easily and nicely on main screen/view, but not in ngDialog. I see no error Chrome console. I placed some debug point in both plugin but saw nothing suspicious.

I have tried to fix it myself but no luck.

https://github.com/likeastore/ngDialog

[2015-06-09 01:56] svemir commented on #21
It's been almost two years since this was opened. @OliverJAsh I do hope you are not stuck with version 3 anymore :)

[2015-06-09 02:04] svemir opened #142 "0.0.8 tag created too early?"
It seems that tag 0.0.8 was created without updating bower.json and package.json version numbers. I would have created a pull request to fix it, but I don't think thats possible once that tag is "out"

Perhaps version needs to be updated to 0.0.9 and new tag created after that, but maybe there is a better way.

[2015-06-09 09:15] #21 closed

[2015-06-09 17:08] wesleycho commented on #142
Hmm, thanks for catching this. I will release 0.0.9 shortly then with that fixed.

[2015-06-09 17:09] wesleycho commented on #142
Should be released now.

[2015-06-09 17:09] #142 closed

[2015-06-10 19:06] steverob commented on #74
@wesleycho `0.0.9` does add `ng-disabled` support. But problem is initally if the `textarea` element has `ng-disabled="true"`, it does not work.

But if `ng-disabled` is set to some expression and if it changes sometime after initialization, disabling works perfectly :+1:

Is there a way to make it disabled while initializing?

[2015-06-10 19:36] steverob commented on #74
And there's no way to get an attr's value without using `$observe`? :( Im getting `undefined` whenever I try to access `attrs.disabled`. Any ideas?

[2015-06-10 19:55] wesleycho commented on #74
Perhaps I may need to update the check to use a $watch for `element.prop('disabled')` - I will investigate this.

[2015-06-10 19:58] steverob commented on #74
Thanks @wesleycho. :) :)

[2015-06-11 03:14] wesleycho commented on #74
Just noting for posterity, I have a reproduction of the issue [here](http://plnkr.co/edit/DXbbMuemWffLFzOlDpwM?p=preview).

A fix should not take too long.

[2015-06-11 03:17] #74 closed

[2015-06-11 06:15] steverob commented on #74
@wesleycho thanks a ton!

Would you mind letting us know when this will be released? Thanks!!

[2015-06-12 19:21] Boux opened #143 "Adding a "setup" to the options breaks everything"
When you do
[code]
You actually replace the options.setup that you define a few lines above that extend. This breaks all the ngModel functionality and a bunch of other things.

I've added a quick fix by doing this when you create the expression object to extract the custom setup function so that it doesn't replace the default one in the default object.
[code]

And then I simply change the few line

[2015-06-18 22:41] rolandocc commented on #141
Hi @phuyem , maybe you are suffering the same issue I am, I am using google material's tab component (https://material.angularjs.org/latest/#/ ) , there is some weird behavior where the directive loads before I setup a value to uiTinymceConfig, in my environment I have to load assets from a different url by setting the baseUrl property, however it doesnt work since during loading the object uiTiny

[2015-06-19 02:26] rolandocc opened #145 "maxlength attribute broke 2-way databinding"
I had this code:

[code]

This cause the model var "plantillaCorreo.entidad.Cuerpo" becomes undefined, also printing {{plantillaCorreo.entidad.Cuerpo}} displays nothing and of course the 2-way databinding stops working.

I was trying to figure it out the reason without success.

[2015-06-19 12:16] webdev67 commented on #112
It still happens. Using the    init_instance_callback as @helmutkian  suggested does not work if you are adding a new button . It works for the context menu surprisingly..

[2015-06-19 13:26] webdev67 commented on #112
Just FYI - i solved the issue of not being able to add the button via creating a new plugin - and injecting that in the tinymce options. I also passed the $rootScope, $scope and other angular requirements to the plugin via this.PluginManager.$rootScope = $rootScope from within the init_instance_callback function in the $scope.tinymceOptions in the controller.

[2015-06-19 15:10] phuyem commented on #141
Hi rolandocc .

I wish I could have created a plunker but I am so bad at using that one...

As for the issue, I thought the same. However, I got a workaround by replacing ngDialog by bootstrap-ui-modal. (ngDialog is not responsive  anyway). I hope you can fix your issue

[2015-06-24 14:50] rbecheras commented on #103
@sevenbytes +1 for your solution
@wesleycho this solution is required to properly handle changes as text-colors, highlight colors, table cells and border propeties and font size. Without this fix some are not handled at all (font color for exemple) and others seems randomly handled (cell border properties for example)

[2015-06-28 23:01] ameoba32 commented on #143
I faced the same issue, I need setup method to add custom button, like below. But it does not work because original "setup" method is overriden.
$scope.tinymceOptions = {
        theme: "modern",
        skin: "light",
        resize: false,
        setup: function(ed) {
            ed.addButton('mybutton', {
                title : 'My button',
                image : 'quill.png',

[2015-07-02 01:46] Jeff-Tian opened #147 "How to get the instance and invoke execCommand() method?"
I want to insert some extra content to the tinymce, and if I use pure tinymce I can achieve that by

    tinymce.activeEditor.execCommand('mceInsertContent', false, 'your content');

How do I achieve it with `ui-tinymce`?

[2015-07-04 16:02] mhhonline opened #148 "would like to add a default image style"
thanks for your great work.
I have a concern, i cannot edit the image style currently. i can see "Source", "Image description", "Dimensions" but i don't want to have the dimension. instead, i would like to have a style="max-width:100%;height:auto;" this will enable me to have the image as big as my screen size.

Regards,
Mohammed

[2015-07-12 12:32] orzilca opened #150 "data-mce-bogus="1" appears on model"
Hi,

I think there is a bug in the latest version.

I implement ui-tinymce and the editor works great, except that tinymce's default element appears on the modal if no value was inserted to the editor.

[code]
[code]

The model value (when the editor is empty) is set to be:
[code]

If I understand correctly, this code block is a root element pushed by tinymce in case that the editor is empty in-or

[2015-07-14 09:01] longzheng commented on #74
Unfortunately this fix doesn't seem to work for me since when ```toggleDisable``` is ran in the [```$timeout```](https://github.com/angular-ui/ui-tinymce/commit/f25bf79eafd31bca6aa08dfd8fa66ebb629d5bba#diff-1f6638fba380b04c484908d398249763R97), the ```ensureInstance()``` method at that point can't actually find the instance. ```tinymce.get(attrs.id)``` returns null.

[2015-07-14 09:03] longzheng commented on #74
If you move ```toggleDisable(scope.$eval(attrs.ngDisabled));``` to ```ngModel.$render``` however, it works consistently since at that point the instance is available.

[code]

[2015-07-14 13:14] JohannMarx commented on #49
iWang's solution worked for me too - thanks!

[2015-07-16 09:31] phuyem opened #151 "not working for ng-minLength and ng-required"
Hello,
Adding ng-minLength and ng-required (not tested with other angular validation) will break ng-model

Thanks

[2015-07-19 22:26] JFSolorzano opened #152 "read only mode not working properly"
when you set `readonly = 1` tinymce only disables everything, but still display the toolbar and menu options...

[2015-07-22 17:29] marinescudan opened #154 "not loading all the dependencies when running a build"
Hi,
I am developing a application using yeoman angular-generator and when I run the "grunt build" command, grunt is not loading all the dependencies for ui-tinymce, more specifically the the /theme, /plugins, /skins folders.
This is my bower.json:
{
  "name": "lorem",
  "version": "0.0.0",
  "dependencies": {
    "angular": "^1.3.0",
...
    "angular-ui-tinymce": "~0.0.9",
...
  },
  "devDependenc

[2015-07-23 01:57] longzheng commented on #150
I've also encountered this issue. Upon some investigation, this appears to be because this directive defaults the tinyMCE ```format: 'raw'``` which spits out unfiltered HTML when the model is updated. https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L102

The code that updates the model uses the ```format```
[code]

A better default would be ```format: 'html'``` which spits out

[2015-07-23 02:41] longzheng commented on #152
I ran into a similar problem when dynamically disabling TinyMCE.

I fixed this by modifying how the ```toggleDisable``` function runs by adding in a few new rules that sets some additional styles.

[code]

This is refactored from the current function.

[2015-07-25 17:20] orzilca commented on #150
It seems to be working, thanks @longzheng !

[2015-07-27 20:55] eloone opened #155 "tinyMCE.get('id') is not working"
Given:

`<textarea id="myText" ui-tinymce></textarea>`

`tinyMCE.get('myText')` doesn' work.

I have to do `tinyMCE.get('ui-tinymce-0')` to make it work, but if I have several instances in a page, I can't guess this internal id. Is it possible to make `tinyMCE.get('myText')`  work?

[2015-07-28 00:48] asanthoshkumar commented on #112
Take the @mangreen code, It fixed couple of issues for me.
1) Allows me to add custom button.
2) When inline=true two way binding not works without this fix for me.

[2015-07-29 05:41] krunalsha commented on #82
I have the same issue, and @jojobyte's fix works for me.

[2015-07-30 10:17] slavafomin opened #156 "Model's value is not idempotent"
Hello!

I'm developer of [Angular.js Input Modified directive](https://github.com/betsol/angular-input-modified). Our module is used to detect changes in the form fields. We heavily depend on the `ngModel` interface in our implementation and I wanted to say that you've made a great job of implementing it properly.

However, there's an issue with model value idempotency. Sometimes, when you take cu

[2015-07-31 20:13] qjie2006 opened #157 "Clear undo history"
I added two lines of code to clear the undo history, is it the right place to add?

 ngModel.$render = function() {
          if (!tinyInstance) {
            tinyInstance = tinymce.get(attrs.id);
          }
          if (tinyInstance) {
              tinyInstance.setContent(ngModel.$viewValue || '');
              tinyInstance.undoManager.clear(); //clear up undo history
              tinyInstan

[2015-08-03 23:33] neekers opened #158 "Custom configuration from scope variable not working"
When I use an actual scope to insert the configuration options for uiTinymceConfig in tinymceOptions and it doesn't work unless I put the object INLINE in the directive. Anyone else seeing this? I'm using Angular 1.2.26 and my options are being fed in on instantiation of the directive, but I can confirm that it's not being parsed.

This line doesn't eval right away with my inputted in values. If I

[2015-08-04 09:48] klinkiap commented on #158
I have the same problem. I'm using default configuration (set using angular.value('uiTinymceConfig')   but I need to overwrite it in one case.

[2015-08-05 02:33] sebastianjonasson opened #159 "Update bower to current version"
The current package on bower it not up to date. Could you please push the most recent release to bower.

[2015-08-08 14:55] sato-sh commented on #158
Same issue. It seems to be due to the fact that in certain situations the attribute for uiTinymce options doesn't eval immediately, the current code looks like this:

[code]
So when the above $timeout method is fired "options" won't contain your custom options as "expression" has already been evaluated as undefined.

The workaround that seems to work for my case: move the $eval and extend calls in

[2015-08-08 15:06] GrapeBaBa opened #160 "Model not update immediately when remove content using long click on backspace"
Hi team,

I found this issue, when delete content using long click backspace, the model not update immediately. The model will update when click the mouse next time.

[2015-08-09 07:08] phuyem opened #161 "ng-required is not working"
... it just not working...

[2015-08-10 14:29] kawazoe commented on #161
My guess is this is probably caused by tinymce always returning some data in the model. It will always contain at least an empty p element.

[2015-08-10 14:41] kawazoe opened #162 "Keeping TinyMCE loaded between view changes"
I am currently trying to integrate TinyMCE in a CMS type of project and I would like to know if there is a way to prevent the editor from reloading every time the view is displayed. While it isn't necessary slow (less than 1 second), it does cause a fairly heavy flicker when loading the page.

I looked into the [Angular $templatecache service](https://docs.angularjs.org/api/ng/service/$templateCac

[2015-08-15 11:22] phuyem commented on #140
Thanks ddalcu for the WORK-AROUND. I am gonna open an issue

[2015-08-15 11:34] phuyem opened #163 "embedded (youtube) video not showing"
What you see: embed a video, it is not showing before and after submitting. Note:select-copy-past the whole video still working though.

What you get (behind) : img tag for both after embed-window and after submit form

What happened : tinymce replace iframe tag by img tag on their editor, if you inspect the value of the textareathe, you also see img tag, not iframe  . Upon form submit, they repla

[2015-08-16 10:11] Mavlarn commented on #155
There is some info about this in README.md :

I think you should use class to get one if you have several instances.

[2015-08-18 21:05] timscaffidi commented on #156
Possibly a related issue: I have a ui-tinymce in a form and it is bound like so:
[code]
Initially, the object ```$scope.some``` does exist, but ```$scope.some.object``` does not exist and is only created once a model value, like ```$scope.some.object.property``` is set.

It appears as though as soon as the ui-tinymce field is loaded, it will automatically set its model value to ```<p><br data-mce-

[2015-08-19 14:49] agez commented on #163
+1 I had the same issue and "fixed" it with the workaround. @phuyem  Thanks for the hint!

[2015-08-19 20:31] jstuparitz opened #164 "version 0.0.10 not registered with bower"
Can you please register it?

[2015-08-20 17:20] andresmatasuarez commented on #145
+1. Had the same problem, ended up removing ng-maxlength directive and implementing a custom one that does exactly the same. Not cool.

[2015-08-24 13:09] tym-network commented on #143
@ameoba32 fix is working. It should definitely be integrated in the code.

[2015-08-31 19:29] andreyluiz commented on #112
Not only in this case. In my approach I need to do stuff in the init. And I can't setup this because the entire model binding is lost (setup function extends over the original one in the directive).

[2015-09-04 08:03] WayneUong opened #165 "link inserting creates data-mce-href="...""
When I insert a url using the link plugin, the scope result has a data-mce-href="..." attribute in it even though it's not there when I view the source code with the tinymce source code viewer. It is messing up a regex for me. Is there a way to not include data-mce-href, or am I missing a clean-up step somewhere?

scope variable:

[code]

view source code using tinymce:

[code]

[2015-09-04 08:04] WayneUong commented on #165
I read on the official forum that data-mce-href should be only temporary

[2015-09-07 10:53] sunil534 commented on #164
Any update on this???? can you please register it ????

[2015-09-17 19:40] ryanberckmans commented on #156
@timscaffidi I believe your issue with `ng-model="some.object.property"` is unrelated. I had your issue, Tim, and fixed it by applying `priority: 999,` to the ui-tinymce directive. There is an open PR for this same fix.

I inserted a console log into `ngModel.$formatters` and noticed that, when my network call completed, `some.object.property` was executing the formatter, but then `ngModel.$render

[2015-09-18 17:53] d00n commented on #164
bump

[2015-09-18 18:30] d00n commented on #164
Forked and registered: https://github.com/d00n/ui-tinymce

[2015-09-25 12:00] adrianthedev commented on #143
+1

[2015-10-02 15:18] kulinsj commented on #143
+1

[2015-10-08 10:07] darxmac opened #168 "ui-tinymce inside angular-ui/bootstrap tab"
When using ui-tinymce inside a ui-bootstrap tabset/tab like this

[code]

`myModel` gets overwritten with `{"content":"<p><br data-mce-bogus=\"1\"></p>"}`

Outside the tab, no problem. Also no problem if using a plain bootstrap tab, i also don't have problems with other directives used inside the tabs

Any ideas ?

[2015-10-08 18:21] breity commented on #164
+1!!

[2015-10-08 21:42] Ansrala opened #170 "Focus tinyMCE"
I have a textarea (tinyMCE) that i need to focus when it is loaded but i cannot figure out how to do that. am i just missing something?

[2015-10-09 09:12] klu00 opened #171 "ui-tinymce directive used into custom directive template : ngModel not updated"
Hi,

I currently have an issue when I call ui-tinymce directive in a custom directive. The custom directive is used to load dynamically links from backend for tinymce advlink plugin (+ load tinymce options object associated with a key passed as an attribute to the directive).

Here is my controller :

[code]

Here is how I call the directive in HTML:
`<tinymce-custom type="minimal" ng-model="test.

[2015-10-12 15:10] deeg commented on #158
I have this issue as well, +1 for fix.

[2015-10-12 16:29] deeg commented on #143
+1

[2015-10-12 16:35] deeg commented on #112
Will a new version be put out with the fix by @mangreen?

[2015-10-12 18:03] alex-lancer opened #172 "Update TinyMCE to current version"
Hi! Now the current version of TinyMCE is 4.2.x but just installed ui-tinymce uses v. 4.1 How can I specify to use 4.2 version?

[2015-10-13 20:24] breity commented on #74
+1

@longzheng Thanks for this fix.

[2015-10-13 20:47] ddNils opened #173 "minified plugins"
in my downloaded tinymce the plugins are minified (the script files are now pluginname.min.js).

now ui-tinymce cannot load plugins :(

could you by chance provide a flag in config? Or change the lazy loading function to search for .min as well?

[2015-10-13 20:55] deeg opened #174 "Inline and readonly not working"
There is an issue when trying to use readonly mode with inline mode. Normally if using readonly mode, contenteditable would not be set on the tinymce element.

The following code does not take that into account setting contenteditable=true even if readonly is set.

[code]

[2015-10-13 21:05] deeg commented on #172
+1 for bower dependency update if nothing is broken.

@alex-lancer, you should be able to get the newer version separate and link the newer version instead.

[2015-10-13 21:08] deeg commented on #173
Not sure this library is the one dealing with which plugins to use.

If loading unminified TinyMCE, by default it will look for uniminified plugins. Simmilarly if loading minified TinyMCE it will look for minified plugins.

According to their documentation, to load plugins of a different type, or a different location, link them directly after the tinymce file.

http://www.tinymce.com/wiki.php/Tuto

[2015-10-14 17:18] deeg commented on #170
You should be able to do this by adding a setup function on the options:

[code]

The timeout may be needed to make sure the editor is rendered on the page before trying to focus.

[2015-10-14 17:19] deeg commented on #164
There is no 0.0.10 version yet.

+1 to accept some of the open pull requests and create a new non-forked version 0.0.10

[2015-10-14 17:20] deeg commented on #159
This is a duplicate and not true. The latest released version is out on bower.

I would like to see a new release including some of the open pull requests though.

Would suggest closing this ticket.

[2015-10-14 17:57] Ansrala commented on #170
Thanks! Will try that out a bit later

[2015-10-14 20:39] Ansrala commented on #170
okay so this is my option code

  $scope.tinyMceOptions = {
                        setup: function(editor) {
                            console.log('test1');
                            $timeout(function () {
                                console.log('test2');
                                editor.focus();
                            })
                        },
                        statu

[2015-10-14 21:12] deeg commented on #170
As a side note you can get it to format by using markdown. Wrap your code with ``` on either side.

Are the rest of the options working as they are supposed to? I know there is an issue listed here that sometimes supplying the options from the scope does not work.

If the other options are working, but setup is not being called, then I'm not sure with the information you have provided.

Can you ma

[2015-10-14 21:53] deeg commented on #158
As a short term solution for people having this issue, you can wrap the usage of ui-tinymce in a parent element which has an ng-if watching the scope variable which contains your options.

Not a good solution but a short term hack...

[2015-10-14 22:18] Ansrala commented on #170
The other options are working as intended.
I have modified the ui-tinymce demo and i am getting the same issue

I will try it put it all in a plunkr or something tomorrow.

[2015-10-15 14:56] deeg commented on #170
What version of the library are you using?

[2015-10-15 16:27] deeg commented on #170
My setup function is running, but I'm also having trouble getting the editor to focus. I will report back when I have figured it out.

[2015-10-15 16:33] ervinkleitz commented on #82
@jojobyte fix worked for me. Thanks!

[2015-10-15 18:00] deeg commented on #171
I am seeing this issue as well. Will try to investigate further and fix.

[2015-10-15 20:59] Ansrala commented on #170
for tinymce.min.js 4.2.6 (2015-09-28)
for ui.tinymce its whatever was on master a week ago.

Thanks for the help btw.

[2015-10-16 00:23] ProLoser opened #176 "Maintainers"
Since there's so much activity but no maintainer, would anyone be interested in taking over this project?

[2015-10-16 00:27] deeg commented on #176
Thanks for responding and posting. I would love to help out!

[2015-10-16 00:40] deeg commented on #88
I'm sorry, but this directive requires TinyMCE version 4.

If you upgrade to TinyMCE version 4 and are still having issues, please re-open a new issue with a fiddle attached showing the undesired behavior.

[2015-10-16 00:40] #88 closed

[2015-10-16 00:43] deeg commented on #109
Going through trying to clean up old issues.

@MaitreDede, are you still having any issues? If so can you please post a fiddle showing the issue?

[2015-10-16 00:45] deeg commented on #117
Closing this issue due to age. If you are still having trouble please open a new issue with a fiddle attached.

[2015-10-16 00:45] #117 closed

[2015-10-16 00:47] deeg commented on #125
Closing due to inactivity. If you are still having issues, please open a new issue with a Plunker attached.

[2015-10-16 00:47] #125 closed

[2015-10-16 00:49] deeg commented on #138
Closing as duplicate #176. I plan to start helping out as much as I can, but will keep other issue open for now.

[2015-10-16 00:49] #138 closed

[2015-10-16 01:03] deeg commented on #140
Closing this as a duplicate of #163. Will take care of it there.

[2015-10-16 01:03] #140 closed

[2015-10-16 01:04] deeg commented on #141
Please update issue with a Plunker or Fiddle reproducing the issue.

[2015-10-16 01:10] deeg commented on #143
Going to look into both this and pull request #166. Will use which ever option looks and works better. Please feel free to comment if you like one approach over the other. This issue will be solved one way or another with the next release.

[2015-10-16 01:27] deeg commented on #145
Please update issue with a Plunker or Fiddle. I am happy to look into fixing it.

[2015-10-16 01:38] deeg commented on #147
You can add a setup function to the options object. The function gets passed the editor as the first argument.

[code]

Please note that there are a few issues (#143, #166) where adding a setup function may break some other things. I plan to have this fixed on the next release coming out soon.

[2015-10-16 01:38] #147 closed

[2015-10-16 01:40] deeg commented on #148
This is something which is controlled by TinyMCE and not really this library. Off the top of my head I'm not sure TinyMCE offers a way to edit it, but I'm sure they do.

If you believe there is an issue regarding this library, please re-open a new issue with a Plunker demonstrating it. Otherwise, please seek help from the folks over at TinyMCE.

[2015-10-16 01:40] #148 closed

[2015-10-16 01:46] deeg commented on #150
Thanks for reporting. I believe I have seen this to, but I want to get in a habit of requiring a Plunker or Fiddle on issues.

I will look into this issue as well, and hope to have it fixed by the next release if still a problem.

[2015-10-16 01:47] deeg commented on #151
Please update the issue with a Plunker or Fiddle re-creating.

[2015-10-16 01:53] deeg commented on #152
Can you please update the issue with a Fiddle or Plunker?

I had a similar issue which I will get fixed in the next release where enabling readonly mode and inline editing would hide the toolbar but still allow editing due to contenteditable being set to true (#175)

I have not however seen the issue where readonly being set to true still displays the toolbar.

Will be happy to look into fixing it

[2015-10-16 01:59] deeg commented on #154
Please look at the [TinyMCE documentation](http://www.tinymce.com/wiki.php/Tutorials:Creating_a_plugin) which describes how to create a plugin.

There is some good information on how to load plugins in there.

This is a question better suited for [Stack Overflow](http://stackoverflow.com/) as I don't think there is any issue regarding this library.  If you post a question there, pleas make sure to

[2015-10-16 01:59] #154 closed

[2015-10-16 02:02] deeg commented on #155
What @Mavlarn says is correct. Right now you should not include an ID when using ui-tinymce directive.

You can however set a class like he suggests and get to it that way. If you feel you really need to be able to set your own ID, please open a new issue and I can set it as an enhancement and see if there is a need from the community.

[2015-10-16 02:02] #155 closed

[2015-10-16 02:06] deeg commented on #156
@slavafomin, if you would like to get this into our library please update the issue with a Plunker or FIddle re-creating the issue.

It would also be nice if you want to open a pull request with how you think it should be implemented, and then I can take a look at getting it merged.

I'm not opposed to the idea if it really is an issue.

[2015-10-16 03:20] deeg commented on #157
Can you give more of a description of what the issue is? It may be the right place.

Is the issue that if you destroy and re-create an instance the undo history remains? It might be better to clear the history on the destroy event.

If you could also include a Plunker or Fiddle that would be great. I will take a brief look into the issue as well and fix if I can re-create.

[2015-10-16 03:23] deeg commented on #159
Will be making a new release soon and make sure it gets to bower. Closing ticket.

[2015-10-16 03:23] #159 closed

[2015-10-16 03:24] deeg commented on #160
Can you please post a Plunker or Fiddle with the configuration you use re-creating the problem.

I will take a brief look to see if I see this issue in my setup as well.

[2015-10-16 03:26] deeg commented on #161
Possible related to #150

[2015-10-16 03:28] deeg commented on #162
I also see a flicker, even when dynamically adding a text area to the page.

I am going to take a look into it and mull over your two solutions and post back soon with my opinion. I hope to get this fixed soon, and maybe into the next release.

[2015-10-16 03:32] deeg commented on #163
I will look into re-creating this issue and getting the fix into the next release.

I'm not sure we want to ignore the format option when getting content, but I will take a closer look tomorrow.

[2015-10-16 03:33] deeg commented on #164
Closing this issue. Going to get some of the open pull requests merged and release a new version 10 soon.

[2015-10-16 03:33] #164 closed

[2015-10-16 03:36] deeg commented on #165
@WayneUong, can you please pose a link to the form post you read if you still have it handy.

I will see if I can re-create this issue, and try to decide if it is something we need to fix on our end.

[2015-10-16 03:37] deeg commented on #168
Please post a Plunker or Fiddle so we can look into fixing the issue.

[2015-10-16 03:40] #173 closed

[2015-10-16 07:21] klu00 commented on #171
Don't know exactly what happen but here is how I fixed it :

[code]

[code]

[2015-10-16 14:31] IuryAlves commented on #88
@deeg  Thanks for the reply.

[2015-10-16 14:56] deeg opened #179 "Update readme"
* Add contributing block
* Add to ng-model block about using '.' instead of primitive

[2015-10-16 14:57] deeg opened #180 "Add changelog to project"

[2015-10-16 16:26] deeg opened #181 "Add test coverage"
Add a way to track test coverage, and add more tests.

[2015-10-16 19:40] deeg commented on #163
I could not reproduce the issue, but I just made a change where it now defaults to format "html" and allows the user to override it in the options object.

This issue will get closed when the fix gets pushed to master. If you are still having issues once the fix is applied, please open a new issue with a Plunker or Fiddle demonstrating the problem you are having.

[2015-10-16 19:42] deeg commented on #150
I decided to default to html format, and allow the user to override with format set on options passed to ui-tinymce.

Thanks for taking the time to help out!

[2015-10-16 22:20] deeg commented on #171
@klu00, I looked into this more, and I'm not sure it is actually a bug.

I realized that when using ng-model with ui-tinymce, you need to pass a value which contains a '.'

```ng-model="data.content"```

Since the directive is creating a child scope, if you put a primitive scope variable in there, the two way data binding is lost. [This article](https://github.com/angular/angular.js/wiki/Understan

[2015-10-17 00:39] deeg commented on #168
This probably had to do with the format defaulting to 'raw'.

I made a change which will be in the next release, to default to 'html' format and allow the user to override in the options object.

I am going to close this ticket when it gets into master, and if you are still having issues after that please re-open a new ticket with a Plunker or Fiddle attached demonstrating

[2015-10-19 07:08] klu00 commented on #171
@deeg thx for the answer, finally I changed the approach as you can see in my previous post, but you may be true, that's probably the ng-model with a primitive type and not an object that is causing the error.

[2015-10-19 07:08] #171 closed

[2015-10-19 08:05] jespermo opened #183 "Non-breaking space added when focussing (empty) textbox"
When I enter an empty textbox for the first time it starts with a non-breaking space character (&nbsp;). I have not found any way to avoid this.

[2015-10-19 14:12] deeg commented on #183
Can you please update the issue with a Plunker re-creating it.

I will also start looking to see if I can reproduce.

[2015-10-19 23:37] #176 closed

[2015-10-20 01:24] #150 closed

[2015-10-20 01:24] #163 closed

[2015-10-20 01:24] #179 closed

[2015-10-20 01:30] deeg commented on #174
This is in the latest v0.0.10 release.

[2015-10-20 01:30] #174 closed

[2015-10-20 01:31] deeg commented on #172
This is in the latest v0.0.10 release.

[2015-10-20 01:31] #172 closed

[2015-10-20 01:32] deeg commented on #168
What I believe to be your issue is fixed in the v0.0.11 release. Please check if you are still having problems after updating, and if so open a new issue with a Plunker.

[2015-10-20 01:32] #168 closed

[2015-10-20 01:32] deeg commented on #143
This is in the latest v0.0.10 release.

[2015-10-20 01:32] #143 closed

[2015-10-20 01:43] deeg commented on #170
So everything is working for me with the latest release (v0.0.10) with the code I posted above.

Can you try again after updating and let me know if you are still having issues?

If you are can you please post a Plunker with your example so I can take a look at what is going on.

**As a side note:** Even after you get focus working like I did above, TinyMCE for some reason still puts the cursor at

[2015-10-20 01:48] deeg commented on #109
Closing due to inactivity and no Plunker. Please ask any questions you may have using the [angular-ui-tinymce tag on StackOverflow](http://stackoverflow.com/questions/tagged/angular-ui-tinymce).

If you have any bugs please create a Plunker reproducing and open a new issue.

[2015-10-20 01:48] #109 closed

[2015-10-20 01:49] deeg commented on #141
Closing due to inactivity and no Plunker. Please ask any questions you may have using the [angular-ui-tinymce tag on StackOverflow](http://stackoverflow.com/questions/tagged/angular-ui-tinymce).

If you have any bugs please create a Plunker reproducing and open a new issue.

[2015-10-20 01:49] #141 closed

[2015-10-20 03:03] Ansrala commented on #170
Still not firing the setup function
I tried making a plunk... but never done that before and it isn't going so well. So what I have done instead is updated everything and did the the bower install and modified the demo code and will now just post it here.

in the demo.html I replaced
```ui-tinymce="{trusted: true}"```
with
``` ui-tinymce="{{tinyMceOptions}}" ```

and my entire demo.js
[code]

[2015-10-20 04:06] deeg commented on #170
Are you sure you saw the other options working?

You need to use the directive with options like this ```ui-tinymce="tinyMceOptions"```

[Here is a working Plunker](http://plnkr.co/edit/AQsvfnLxtC7LE1Gxp5tA?p=preview) which demonstrates the focus and options working with the latest release.

I don't like to have to use a timeout, especially of that length, and I'm still looking into fixing that. I

[2015-10-20 04:12] deeg opened #186 "Update README with demo plunker"

[2015-10-20 04:13] deeg opened #187 "Create io page with working demo"

[2015-10-20 04:29] deeg commented on #165
So I confirmed even the latest version of ui-tinymce will add ``` data-mce=href="http://www.gamespot.com/"``` to the raw content of the editor.

In the latest version of ui-tinymce we change the default format to spit out their scrubbed 'html'. See the [README.md](../blob/master/README.md) for more information.

You on your model you should get the normal a tag as you would expect.

Try loading a

[2015-10-20 04:29] #165 closed

[2015-10-20 04:48] deeg commented on #161
[Here is a plunker](http://plnkr.co/edit/KwGsyE?p=preview) demonstrating ng-required working with the latest release (v.0.0.10).

If you are still having issues please ask any questions you may have using the [angular-ui-tinymce tag on StackOverflow](http://stackoverflow.com/questions/tagged/angular-ui-tinymce).

If you have any bugs please create a Plunker reproducing and open a new issue.

[2015-10-20 04:48] #161 closed

[2015-10-20 05:03] deeg commented on #145
Adding [Plunker](http://plnkr.co/edit/R7UHGa?p=preview) for good measure.

It is still an issue with the latest release (v.0.0.10). I will continue looking into fixing it.

[2015-10-20 05:18] Ansrala commented on #170
well good news removing the curylies and adding actual time to the $timeout made it work. But yeah I am sure I saw the other options working. no idea why they worked but setup didn't.

Thanks for the help. I only got it working in the demo and will try it again sometime tomorrow on the actual app i care about.

[2015-10-20 05:19] deeg commented on #151
Closing this ticket as a duplicate of #145. I will add min-length to that ticket.

Ng-required alone should be fixed now. Thanks for reporting.

[2015-10-20 05:19] #151 closed

[2015-10-20 12:39] jespermo commented on #183
Trying - haven't been able to reproduce (in Plunker) yet though

[2015-10-21 01:35] deeg commented on #170
I am going to close this issue. If you have any more bugs please feel free to open a new issue with an attached Plunker demonstrating.

[2015-10-21 01:35] #170 closed

[2015-10-26 19:01] phuyem opened #188 "tinyInstance is always null and work around"
function ensureInstance() {
                    if (!tinyInstance) {
                        console.log(attrs.id);

                        tinyInstance = tinymce.get(attrs.id);
                        console.log(tinyInstance);
                    }
                }

should be
tinyInstance = tinymce.EditorManager.get(attrs.id);

still, it needs a few hits to become available...

[2015-10-26 19:06] phuyem commented on #74
@longzheng your fix works !! thanks :+1:

[2015-10-26 21:33] deeg commented on #74
If you are still having issues with this please open a new issue with a plunker re-creating the problem so we can get a fix in.

[2015-10-26 21:34] deeg commented on #188
Can you please add a plunker reproducing the problem so we can look into fixing it?

[2015-10-27 14:56] LynnDemarest opened #189 "'click' event not caught"
Added this to the setup: section in "options":

ed.on('click', function (e) {
                            ed.save();
                            ngModel.$setViewValue(elm.val());
                            if (!scope.$$phase) {
                                scope.$apply();
                            }
                        });

[2015-10-27 17:30] deeg commented on #189
Are you seeing any errors in the console?

Please include a Plunker which re-creates the problem you are describing.

You can use [this plunker|http://plnkr.co/edit/ohFT7BOfNloRqFjyQGnt?p=preview] as a template to create your own.

[2015-10-27 17:31] deeg commented on #188
You can use [this plunker|http://plnkr.co/edit/ohFT7BOfNloRqFjyQGnt?p=preview] as a template to create your own.

[2015-10-28 04:30] phuyem commented on #188
Just add
                            console.log(tinyInstance);
at line 178, you will see

[2015-10-29 13:14] sjorquera opened #190 "Responsive filemanager doesn't select an image"
Hi!

This issue appeared when i'm trying to select an image with responsive filemanager 9 plugin. When image button from tinymce is clicked, an filemanager option is added to source input but this option is not working when i try to select some stuff from that plugin.

Somebody has the same issue?

[2015-11-02 12:05] adrianthedev commented on #143
Thanks!

[2015-11-04 19:11] #190 closed

[2015-11-09 14:05] arjunasuresh3 opened #191 "Memory leaks after destroying tinymce"
I see memory leak after destorying.

Has anybody have fixes for same?

Code creating memory leaks:
https://github.com/angular-ui/ui-tinymce/blob/10870200f2f16079c267d12333f78a4f9bb15d97/src/tinymce.js#L61-L101

Plunker: http://plnkr.co/edit/ykjMMuYyj4WaMHntSVFT?p=preview

![detacheddom](https://cloud.githubusercontent.com/assets/1137889/11035561/3f76d1f0-8719-11e5-8f21-d959cc7ce1e2.png)

[2015-11-09 14:39] arjunasuresh3 commented on #191
Timeline for same, where nodes are not releasing completely.

![tinymce_timeline](https://cloud.githubusercontent.com/assets/1137889/11036301/d549562c-871d-11e5-99f0-2a2edfb0b9d2.png)

[2015-11-09 16:15] deeg commented on #191
Thanks for reporting, I will take a look into this.

Feel free to open a pull request (against dev branch) if you already have a working fix that we could pull in.

[2015-11-12 18:46] nicolasgarnil opened #192 "Question: Is it possible to dynamically generate the options of the editor?"
I can't initialise the editor with the `content_css` option set to a value which is obtained from an XHR request because the link function of the directive is called before the callback of the XHR request. As a consequence of this, the options are not passed to the directive.

[code]

[code]

If I broadcast a `$tinymce:refresh` event after initialising the options, the editor gets re-initialised w

[2015-11-12 19:08] deeg commented on #192
This is related to issue #158.

In order to not initialize TinyMCE until the options are defined add an ng-if check to the text area:

```<textarea ui-tinymce="tinymceOptions" ng-model="email.body" ng-if="tinymceOptions"></textarea>```

I am going to close this ticket in favor of #158 for now. I will open a new bug about the refresh event not removing the old editor, as I have seen that too.

In t

[2015-11-12 19:08] #192 closed

[2015-11-12 19:14] deeg opened #193 "Refresh event does not remove old editor"
When firing the **$tinymce:refresh** the new editor correctly shows up, but the old editor is not removed.

[Example Plunker](http://plnkr.co/edit/rdFH45FxKzN1zXbu8tjn?p=preview)

[2015-11-12 20:35] nicolasgarnil commented on #192
That workaround doesn't works when you need to re-initialise the editor more than one time. After the options are defined you can no longer re-initialise the editor. In my example, the template can be changed more than once.

[2015-11-16 15:52] deeg commented on #192
That makes sense. I am hoping this will get fixed by the other bugs open.

I do agree that when the options change the editor should re-initalize, so I hope to get that feature in there.

In the mean time, we welcome all pull requests if you have any time to implement the feature.

[2015-11-24 03:03] deeg commented on #191
After looking closer at the timeline and running a few myself, I do not really see a memory leak.

The values for nodes and heap seem to be going back to the correct number once the garbage collection runs. Could you explain a bit more about where you see the memory leak from the timeline?

[2015-11-26 06:30] psarda opened #196 "dialog boxes and error dialog do not appear correctly."
I am using the ui-tinymce with ui-bootstrap. The dialog boxes and error-dialog which are launched by tinymce editor are not appearing well formatted.

codepen: http://codepen.io/ParagSarda/pen/WQqoVr?editors=100

[2015-11-28 21:10] deeg commented on #196
This library does not supply any CSS files. This is just meant to be an angular wrapper around the TinyMCE library.

The issues you are facing are CSS based and should be fixed by isolating the rules which is messing things up, and overwriting those rules for the TinyMCE case.

The example you have doesn't load, it looks like TinyMCE updated its website and in turn list of hosted plugins and not a

[2015-11-28 21:10] #196 closed

[2015-11-28 21:13] deeg commented on #152
Closing this ticket due to inactivity. If you still have an issue please feel free to open a new issue with a plunker attached.

[2015-11-28 21:13] #152 closed

[2015-11-28 21:14] deeg commented on #157
Closing this ticket due to inactivity. If you are still having problems, please feel free to open a new issue with an attached plunker reproducing it.

[2015-11-28 21:14] #157 closed

[2015-11-28 23:14] psarda commented on #196
Thanks @deeg for explanation.

[2015-12-02 10:13] SafinRR commented on #41
Hello!
I find trouble with inline again.
Error is: Uncaught Error: Syntax error, unrecognized expression:"tinymce.min.js:2 Uncaught Error: Syntax error, unrecognized expression: textarea#"

[2015-12-02 18:19] CapitalH opened #197 "Placeholder text for inline editors"
I thought this could be helpful to someone:

I added (hacked) a placeholder text for the tinyMCE inline editor:

[code]
The HTML part in the view

[code]

and Finally the CSS to create the placeholder text (it gets it from data-placeholder="Content..." but you could do it directly in css

[code]

I hope this could be of help to someone.

[2015-12-02 18:27] deeg commented on #41
What version of the library are you using?

Can you please post a plunker showing your example with the issue?

[2015-12-02 18:31] deeg commented on #197
Thanks for posting, going to close as it is not an issue with this library.

This library is just a wrapper around Tinymce. Adding a placeholder into their inline editor should really be handled through their library. I suggest [opening a feature request with them](https://github.com/tinymce/tinymce/issues) so you could remove this hack in the future.

[2015-12-02 18:31] #197 closed

[2015-12-03 11:30] hoohaman commented on #41
Want to say that we have the same trouble only in Firefox.

[2015-12-03 14:52] deeg commented on #41
What version of the library are you using?

Can you please post a plunker showing your example with the issue?

[2015-12-08 16:23] common-link-dev commented on #160
Hello,

I can confirm a problem here.

Delete the text by holding backspace until all the text is deleted. Then release the key, the model is not updated. If you then hit a letter/number or even the arrow keys, the model gets updated.

[2015-12-08 19:10] aske-cph commented on #41
I have the same problem.

Angular tinymce doesn't work on textareas / text shows as raw:

on osx with:

Safari
Chrome
Firefox

Angular Ui Tinymce - 0.0.11
Tinymce 3.1

[2015-12-08 19:19] deeg commented on #160
I will take another look into this as soon as I can. If you have any proposed fixes please feel free to post a pull request.

Also if you could post a plunker demonstrating the issue, that would be great.

Some more information would also be helpful, such as browser (with version) and library version number.

[2015-12-08 19:22] deeg commented on #41
Can you please post a plunker demonstrating the issue so we can look into fixing it?

[2015-12-08 20:32] aske-cph commented on #41
Of course!

I will when i figure out how to add dozens of external files to plunker, (the newest version of tinymce).

Just spent an hour trying to get plunker to work with the correct versions. They ones present in the package search are old.

[2015-12-08 20:48] aske-cph commented on #41
Okay figured it out.

http://plnkr.co/edit/10H6rbwP3xycbb493F9B?p=preview

Plunkr with versions:

versions:
Angular Ui Tinymce - 0.0.11
Tinymce 4.3.1

As you see, the textarea doesn't parse the text and you cant edit.

[2015-12-09 09:12] common-link-dev commented on #160
Hello deeg,

here's the requested plunker: http://plnkr.co/edit/GjdkG2nT6WiC7Ec06FEv?p=preview

I was able to reproduce the problem in Chrome 47, Chrome 48, Firefox 42, Internet Explorer 10 mode in Internet Explorer 11. It works well in Edge mode in Internet Explorer 11.

It seems that changing the cursor position (even if the cursor is not moving) the model is updating. I was able to use the arro

[2015-12-10 04:32] re-gor commented on #41
I have the same problem in Chrome. I use last versions of angular-ui-tinymce and tinymce.
Noted that if I holding left mouse button on textarea I can print something. While I am printing this way error occurs in console log:

Error: [$sce:unsafe] Attempting to use an unsafe value in a safe context.
http://errors.angularjs.org/1.4.7/$sce/unsafe
    at http://localhost:3001/bower_components/angular/

[2015-12-13 08:47] aske-cph commented on #41
Any news on the problems?

Otherwise inline seems broken in all browsers with the current versions.

[2015-12-13 17:03] oliwa19 opened #199 "baseURL does not work for asset loading"
I tried specifying the baseURL on the config object and it was not respected. I got loading errors because tinymce was looking for assets in a relative directory. To fix this I had to explicitly set the baseURL before calling init.

$timeout(function () {
  tinymce.baseURL = options.baseURL; // I HAD TO ADD THIS LINE
  tinymce.init(options);
  toggleDisable(scope.$eval(attrs.ngDisabled));
});

[2015-12-14 05:45] rootux opened #200 "Can't add a new plugin"
I'm trying to add the following plugin:
http://blog.ionelmc.ro/2013/10/17/tinymce-formatting-toolbar-buttons/
what's the best way to do so?

[2015-12-14 06:06] rootux commented on #200
Apparently it works out of the box.

Actually there are couple of ways as described in the docs:
Add a new plugin to the tinymce plugins folder - notice that it should be plugin.min.js or plugin.js depend on the version of tinymce that you are using - this will get loaded automatically.
The other way is to just init it like so:
```tinyMCE.PluginManager.add('stylebuttons', function(editor, url) {``

[2015-12-14 06:06] #200 closed

[2015-12-14 09:32] rootux commented on #170
I was looking for a way to do that.
you should add this to the documentation - that users can pass a setup function to the 'options'

setup: function(editor) {
    $timeout(function(){ editor.focus(); })
}

[2015-12-14 17:01] deeg commented on #199
Thanks for posting. If you have time could you please post a Plunker demonstrating the issue.

I will start looking into the issue this week.

[2015-12-14 17:02] deeg commented on #160
Thanks for posting. I will look into it this week, sorry for the delay.

[2015-12-14 17:05] deeg commented on #170
@rootux, thanks for the suggestion. I will add something to the documentation.

[2015-12-14 17:06] deeg opened #201 "Add blurb about setup function & focus to documentation"

[2015-12-14 17:08] deeg commented on #41
Sorry for the delay. I am going to look into it this week. I am going to re-open the issue for now.

[2015-12-14 19:05] oliwa19 commented on #199
http://plnkr.co/edit/cDwBF2?p=preview

Uncomment line 112 in the tinymce.js file and the files will attempt to load from an alternate location. Check your browser's console window.

[2015-12-14 19:16] deeg commented on #199
Thanks for posting Plunker.

I want to look at this later tonight to make sure that is the correct place/way to fix it, but your fix looks good.

If you would like to post a pull request following the contributing guidelines posted [here](https://github.com/angular-ui/ui-tinymce/blob/master/CONTRIBUTING.md) I am happy to get this merged in ASAP. If you do not have time I can hopefully make the cha

[2015-12-16 14:11] Jakobovski opened #202 "Height 100% + autoresize causing issues"
Thanks for the great library!

I am having an issue with the following CSS.
`html { height: 100%; }`

It seems that on every digest cycle the height is increased by a few lines. This seems to happen only when the autoresize plugin is enabled.

Do you have any recommendations on how to fix this problem?

Thanks!

[2015-12-16 16:01] deeg commented on #202
What version of the library are you using?

Would you mind posting a Plunker demonstrating the issue? I would be more than happy to investigate.

[2015-12-20 21:43] deeg commented on #201
Fixed with 915820970712ca73e9032ec8eb6842b0b485551a

[2015-12-20 21:43] #201 closed

[2015-12-20 21:56] deeg commented on #41
Changing the textarea to a div in your example, everything works fine.

[Their documentation states:](https://www.tinymce.com/docs/get-started/use-tinymce-inline/)

Is there any reason you want to use a textarea instead of a div in this situation? You will see [their example](https://www.tinymce.com/docs/demo/inline/) also does not use a textarea. I think you will find this issue has more to do wi

[2015-12-20 22:22] #160 closed

[2015-12-21 11:12] Jakobovski commented on #199
Hi deeg. I have created a PR for this bug. If possible please merge into master soon as I am waiting for this fix before I can put some code into production. Thanks for the awesome repo!

[2015-12-21 14:35] deeg commented on #199
Sorry, I started looking at this last night after a few other issues and got distracted. I plan to pick it back up tonight. In the mean time I will comment on the PR so we can get it merged in.

[2015-12-23 09:26] Jakobovski commented on #199
@deeg. Any updates on this merge?

[2015-12-24 19:15] oliwa19 commented on #199
Considering the holidays and the fix is literally one line of code, @Jakobovski just make the modification locally so your deployment isn't held up.

[2015-12-28 22:31] deeg commented on #193
This was fixed by #9d9e46803293bcad4a8ff8d712595db3a17db6c0

[2015-12-28 22:31] #193 closed

[2015-12-28 22:37] deeg commented on #199
Fixed by 17243a404297f881cf78d654beaef0fb15875fcd

[2015-12-28 22:37] #199 closed

[2016-01-04 17:34] redblacktree opened #206 "$touched bug"
formField.$touched is never set to true, even after a user has interacted with the control.

Plunkr: https://plnkr.co/edit/fyXGWqJgOeQPoTAjQT7r?p=preview

[2016-01-06 08:02] iJungleboy commented on #41
I'm new to tinymce and this module but got inline to work within minutes. Textarea should never work as inline, that is "the wrong way to do things" as inline should keep the original tag (textarea) and textarea doesn't support formating.

Here's a screenshot of successful integration in 2sxc from yesterday when I just got started

![image](https://cloud.githubusercontent.com/assets/5321186/121378

[2016-01-06 08:06] iJungleboy opened #207 "Lazy loading fails"
I have a fairly complex plugin for a CMS called DNN, our plugin is called [2sxc](http://2sxc.org/en/) - here on [github](https://github.com/2sic/2sxc). It's a generic data model/editing content-management component and uses angular-formly to create generic forms.

Since it's generic, it's also important that scripts are loaded as needed, otherwise the edit-ui becomes much too large with google-map

[2016-01-06 09:55] iJungleboy commented on #207
I got a solution to work - not perfect yet so I'll see if I can improve, but I'll share my current working solution:

HTML:
[code]

Javascript directive

[code]

[2016-01-06 16:59] deeg commented on #206
Thanks for posting, I will look into this.

[2016-01-06 17:00] #41 closed

[2016-01-08 09:08] chkur opened #208 "trusted option"
I don't understand where and how "trusted" option is used. I don't see it in code. So - I cannot use text aligning "out of the box". Every time when I get text from server - I get
[code]
without text-align style. At last I replaced viewValue in ngModel.render with
[code]
And now I get what I need. Maybe I missed something?

[2016-01-08 23:28] deeg commented on #183
Closing this issue due to inactivity. Please feel free to open a new issue once you have a plunker demonstrating it.

[2016-01-08 23:28] #183 closed

[2016-01-08 23:29] deeg commented on #189
Closing this issue due to inactivity. Please feel free to open another issue with a plunker reproducing it.

[2016-01-08 23:29] #189 closed

[2016-01-08 23:30] deeg commented on #191
Closing this due to inactivity. @arjunasuresh3, I'm happy to discuss more, so please respond to closed comment if you want to chat about it.

If after discussing, we agree there is actually an issue, I can re-open this.

[2016-01-08 23:30] #191 closed

[2016-01-08 23:31] deeg commented on #202
@Jakobovski, are you still having issues? Were you able to create a plunker reproducing the issue?

[2016-01-10 23:47] #206 closed

[2016-01-10 23:50] deeg commented on #208
I am a little confused on your issue.

Can you please post a plunker reproducing it, so I can look into it more?

[2016-01-10 23:54] deeg commented on #207
I have not yet tried to lazy load this plugin myself.

Could you post a plunker reproducing the problem you are having, and maybe one with the temporary fix so we can look into it more.

I'm happy to get some code in to allow for lazy loading as long as we do not lose anything such as performance or features. Feel free to open a PR following the [contribution guidelines](../blob/master/CONTRIBUTIN

[2016-01-11 07:19] iJungleboy commented on #207
I basically got it to work without changing ui-tinymce.

So for anybody else: lazy loading using OC Lazy Load works well - it's just that in general lazy loading is fairly tricky. For example, your module which needs the ui-tinymce cannot have it in the dependencies - so you can't

[code]
because then it already fails before lazy loading ui-tinymce.

And if you do include ui-tinymce and only want

[2016-01-11 07:19] #207 closed

[2016-01-11 17:01] rbecheras opened #210 "Model is not saved after inserting images with native image plugin"

[2016-01-11 17:03] deeg commented on #210
Can you please add a plunker reproducing the issue so we can take a closer look at it?

[2016-01-11 17:33] deeg opened #213 "Add badge for gitter.im to readme"

[2016-01-12 12:09] richcocks opened #214 "Editor does not respect ng-disabled"
Hi,

I am having issues getting this directive to follow ng-disabled. There seems to be an issue where in the `toggleDisable` function, the `tinyInstance` variable is always null.

Plunkr:  https://plnkr.co/edit/7gnFLWZQkWtKhN68LJTs?p=preview

This shows the editor is not read only, despite the expression evaluating to true.

Additionally, even with a checkbox to control the value of test2:
https:

[2016-01-12 13:50] richcocks commented on #188
I believe this may also be related to the issue I am seeing where the readonly status (ng-disabled) is not correctly being set. In ensureInstance, tinymce.get() does not return the instance.

[2016-01-15 15:32] Rouche opened #215 "TypeScript version"
I just converted it to TypeScript / Require so the JS is loaded only when the directive is used.

would you like the code?

[2016-01-18 11:05] sajadghobadi opened #216 "scope of this directive should be isolated if configured"
im am using this directive but scope of tinymce is not isolated therefore when i use multiple editor in page by same config ng-model of all editor is one object

[2016-01-18 11:13] ashishtilara opened #217 "'setAttribute' of undefined"
I am building a wizard and editor comes on 2nd page, so if someone tries to access 2nd page, I have code to move to step1 like `$location.path("/step1");` but I get

[code]

in `aria` function of tinymce at following line:

[code]

Appreciate any help to fix this.

cheers

[2016-01-19 01:36] deeg commented on #217
Can you please post a Plunker reproducing the issue so we can better look into fixing it?

[2016-01-19 01:39] deeg commented on #216
I am confused at the issue, you are using the same model for two editors?

Can't you just use two different models? I didn't create the directive, but actively update and maintain it. I'm assuming the team who built it, took making it an isolate scope into consideration. I will reach out to them to see if I can find out the history of why it wasn't made that way.

With that being said, if you feel

[2016-01-19 01:40] deeg commented on #215
If you would like to put up a PR with a plunker demonstrating use, we would be happy to look over it and take it into consideration.

That being said, I don't think we want type script, but would consider having it work with Require, as long as the same code also worked without Require

[2016-01-19 01:40] #215 closed

[2016-01-19 01:48] deeg commented on #214
Thanks for posting this, looks to be a legitimate issue still.

Looks like this is related to #74.

Feel free to put up a PR if you already have a fix with appropriate tests, if not I will try to get to it as soon as possible.

[2016-01-19 09:47] ashishtilara commented on #217
here we go, http://embed.plnkr.co/Dtm6nkf9cutEwOiXuQc5/

If you click on step 2, it should go to step1 but will show that error

[2016-01-19 13:06] donnapep opened #218 "Unable to use ui-tinymce inside another directive"
`ui-tinymce` does not work when used inside of another directive. Given the following code:

    angular.module("risevision.widget.common.font-setting", ["ui.tinymce"])
      .directive("fontSetting", ["$templateCache", function ($templateCache) {
        return {
          restrict: "AE",
          template: $templateCache.get("_angular/font-setting/font-setting.html"),
          transclude: fals

[2016-01-19 14:40] deeg commented on #218
Can you please put this in a Plunker reproducing your issue>

My guess is this is related to #158. What if you put ```ng-if="tinymceOptions"``` on the text area?

[2016-01-19 14:50] deeg commented on #217
Oh this is an error in TinyMCE code. I will take a look to see if this is being caused by our library.

[2016-01-20 04:52] ashishtilara commented on #217
Yeah, the error is only happening when the rendering process is half way and the template changes.

[2016-01-20 13:10] QuadroKnoX opened #219 "reinit tinymce options cause of $scope value"
Hey guys I have a question or better a problem with the options:
I have a textarea
`<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>`
which should refresh the option content_css after a click on the button with another value. I know you can't really refresh the options, just kill and reinit but when I tried `tinyMCE.remove();` it is removing my textarea totally and then wh

[2016-01-20 13:32] donnapep commented on #218
@deeg Adding `ng-if="tinymceOptions"` does resolve the problem, so looks like this is already covered by the other issue. Thx.

[2016-01-20 13:32] #218 closed

[2016-01-20 14:54] deeg commented on #219
Take a look at the demo included with the project for how to use it.

I am confused with your question. Looking at the fiddle, I don't even see ui-tinymce or tinymce included anywhere, is it?

Also why are you setting $scope.CSS to be the model of the first input? What is supposed to go in there?

I am going to close this ticket as I do not see a bug, but I can continue to help here if you have mo

[2016-01-20 14:54] #219 closed

[2016-01-20 15:47] QuadroKnoX commented on #219
Well the problem is that I want to manually change the css path and when I hit refresh, that it reloads the editor with the new path of the content_css, but when I use `tinymce.remove()`, it is removing the textarea and I dont know how to use the similar function of `tinymce.init()` in the angular version after that.

[2016-01-20 17:07] deeg commented on #219
Can you try using the event '$tinymce:refresh'.

```$scope.$emit('$tinymce:refresh');```

This should refresh the editor and not remove it. Let me know how you make out.

[2016-01-20 17:47] QuadroKnoX commented on #219
Unfortunately nothing is happening. I've tried `$scope.$broadcast('$tinymce:refresh');` too but this one is just adding another instance of the editor and the old one doesnt get updated.

[2016-01-21 19:52] deeg commented on #219
Ah yes, my fault, glad it is working for you now.

[2016-01-22 14:48] dfabreguette-ap commented on #41
Hi !
Looks like I have the exact same origin problem in inline mode.
When I type in my cursor moves to the beginning of the line. like @jonrimmer @gunnarlium.
Any idea ?

[2016-01-22 15:56] dfabreguette-ap commented on #41
My bad, I was using on the same element "ng-bind-html".

[2016-01-24 19:27] philcraven opened #220 "Updated npm package?"
We are in the process of moving away from bower and it would be great if the npm package for this project was at the latest release.

[2016-01-25 14:44] deeg commented on #220
Thanks for posting. I will get to this tomorrow.

[2016-01-25 21:13] phillyDesignr opened #221 "Original content wiped out & inline option broken it seems"
The content within the containing element is being wiped out and not the same behavior as regular TinyMCE

Also ***{inline: true}*** cause it to break

http://codepen.io/z3vin/pen/jWzMww

[2016-01-26 19:59] deeg commented on #221
The inline works if you change the textarea to a div. This is not an issue with this library but a limitation of tinymce itself.

As for the initial content, rather than putting it in the text area, assign it as a string to the value in ng-model and it works just fine. What is happening is since you have ng-model pointing to a variable with no data, it is changing the value of the editor to that.

[2016-01-26 19:59] #221 closed

[2016-01-30 11:13] theraku commented on #162
+1

[2016-02-01 21:35] deeg commented on #220
Sorry need to look into who owns the npm package module.

Just to be certain, which npm package are you using, incase multiple are registered?

[2016-02-01 22:07] deeg commented on #220
I am reaching out to the owner of [angular-ui-tinymce package](https://www.npmjs.com/package/angular-ui-tinymce) to get publishing rights. If it does not work out, I will create a new NPM package under a different name. Sorry again for the delay.

[2016-02-02 16:53] amiceli opened #222 "Test failed : Expected spy init to have been called"
I'm creating an angular application with ui-tinymce.

I tried to test my code, bu that test (same in ui-tinymce source) fail :

     it('should save signature calling Api', function () {
            httpBackend.when('GET', 'api/signature').respond({});
            spyOn(tinymce, 'init');
            compile();
            expect(tinymce.init).toHaveBeenCalled();
        })

And here the full code

[2016-02-02 18:58] breity commented on #220
+1 @deeg Thanks for looking in to this. We're using jspm, so it will be great to have the npm package up-to-date.

[2016-02-02 21:52] lulzimfazlija2 opened #223 "ui tinymce 2 way binding not working"
I have fixed it in localhost but the problem is when I upload my site to production(Heroku in my case) the problem still remains...

The way I have fixed it locally was by adding a single line of code to directive in return statement:

    priority: 10

But this I cannot add it to Heroku as the Heroku itself installs the dependencies automatically when deploying the app and I cant edit the file (w

[2016-02-02 22:33] deeg commented on #223
Can you put up a plunker demonstrating how the 2 way data binding is not working?

#146 adds a priority to the directive but I have not seen a good use case where it is actually needed yet. If you could post a plunker maybe I could recommend a different solution.

If you need to modify the code, I would fork this library and make the changes you need, and then use that instead of this library on y

[2016-02-02 22:38] deeg commented on #222
Why do you need to add that test to your code? What exactly are you trying to test?

I am going to close this issue as I don't believe there is a bug, but I can continue to help you if you comment back here.

[2016-02-02 22:38] #222 closed

[2016-02-02 22:43] lulzimfazlija2 commented on #223
Ok, I noticed something else also, it binds the textarea if I do initialize a value to the scope variable for ex: $scope.name = "test"; but when I try to initialize that $scope.name from inside a service call like this:

`ResourceService.showBySessionId(id).then(function (response) {
                    $scope.name = response.data.data[0].content;
                }).catch(function (error) {

[2016-02-03 00:36] lulzimfazlija2 commented on #223
@deeg, this issue is not making problem only for me, but for lot's of people out there, and I do not see a reason why this has to not be fixed added that line of code priority: 10 to the directive, also I dont think there needs to be a plunker code sample as I already told you exactly the problem..

thnx

[2016-02-03 00:38] deeg commented on #223
So you are saying the second issue is fixed with the priority also?

The thing is I don't want to add a priority arbitrarily. I have not encountered a situation where I need it yet.

While you have told me what is going on, I do not have the time to set up the code to try it out myself. If you set up a Plunker I'm more than happy to take a look for you, and add the priority if it really is the onl

[2016-02-03 00:40] deeg commented on #220
@philcraven and @breity, it looks like the current owner is going to transfer it, just waiting.

I will get it done asap. Again sorry for the delay.

[2016-02-03 00:45] breity commented on #220
@deeg, No worries. Thanks again.

[2016-02-03 01:28] lulzimfazlija2 commented on #223
@deeg Can you look at this plunker sample.. I added ui-tinymce library but the textareat does not become rich text editor, dont know why...

https://plnkr.co/edit/QDXNYgC2KWNoEmILx1xK

This is a similiar cas like mine... when I do call a service the textarea doest fill...

[2016-02-03 01:48] philcraven commented on #220
Thanks for the help!

On Tue, Feb 2, 2016 at 4:45 PM Jonathan Lim-Breitbart <
notifications@github.com> wrote:

[2016-02-03 03:11] lulzimfazlija2 commented on #223
Ok, I came up with a better solution than I had, added a new directive outside bower folder, call it as <textarea ui-tinymce-custom="tinymceOptions"  ng-model="res.resource.content"></textarea> where here I have priority:10 added its like custom directive for tinymce... No best solution but better I can say... thnx

[2016-02-03 08:12] amiceli commented on #222
I'm creating a web application with angularJS.
I would test that tiny mce is correctly initialized in my controller.

My controller :

    angular.module('lsi.controllers', ['ui.tinymce', 'oitozero.ngSweetAlert'])
        .controller('SignatureController', function ($scope, Api, $http, $sce, SweetAlert, $q) {

            $scope.tinymceOptions = {
                setup: function (editor) {

[2016-02-03 19:15] abtincbrians opened #224 "Poor Performance With Lots Of Text"
I'm running into an issue where users need to be able to copy & paste + type large amounts of text for a given field of data, such as a report description.

Once a large amount of text has been entered, when typing, the WYSIWYG editor begins to lag significantly, making it almost unusable. The problem seems to affect at least Chrome and IE, but probably most/all browsers.

I'll include a link to a

[2016-02-03 20:01] deeg commented on #224
Do you notice these issues on TinyMCE's demo pages without the use of our library?

[2016-02-03 20:10] abtincbrians commented on #224
It does not happen on the demo pages, only when using ui-tinymce directive.

[2016-02-03 22:21] deeg commented on #224
Thanks for reporting, I do see the same thing you are seeing.

I will look into this, but I'm not sure what is causing it off the top of my head. Going to mark it as an enhancement since nothing is really broken.

If you have any fixes please feel free to put out a PR.

[2016-02-03 22:26] deeg commented on #223
If you look at the console, you can see why the Plunker is not working.

Going to close this issue. If you think you find a bug, please open a new issue with a plunker demonstrating the problem.

[2016-02-03 22:26] #223 closed

[2016-02-03 22:30] deeg commented on #222
If I were testing this controller, I would just test that $scope.tinymceOptions is an object and test any values of the configuration on that object that you want to make sure is correct.

I would argue you do not need to test tinymce initializing as part of this controller.

Let me know if you need any more help.

[2016-02-04 09:11] amiceli commented on #222
Tank for your help.

Just another question, how can I test edtir on change event ?
In my example to test `$scope.content` has changed.

[2016-02-04 14:50] deeg commented on #222
Not sure what testing framework you are using, but the general concept I would use is:

* Get a handle on $scope.tinymceOptions
* Call $scope.tinymceOptions.setup(spy) while passing in a spy you make for editor.
* Verify $scope.editor is the spy
* Verify editor.on spy is called with correct arguments
* Then you can get ahold of the second argument of the call to '.on' if you want and call that and

[2016-02-04 18:01] ivanslf opened #225 "Include minified version (tinymce.min.js) into bower component"
Like most components usually do, it would be nice to have an up-to-date minified version bundled into angular-ui-tinymce's package.

[2016-02-04 22:03] deeg commented on #225
That is a good idea. I will try to get to it soon.

Please feel free to put out a PR if you want.

[2016-02-04 23:10] abtincbrians commented on #224
Pull request issued, please review and advise, thanks.

[2016-02-05 09:13] amiceli commented on #222
It works, thanks for your help.

[2016-02-05 13:49] naXa777 opened #227 "Validation for `ngMaxlength` and `ngMinlength` is not working on TinyMCE input with SCE enabled"
<textarea ng-model="myMCEContent" ui-tinymce ng-maxlength="180" name="body"></textarea>

I have created this `<textarea>` but `ngMaxlength` and `ngMinlength` are not working. For example when I typed just a single character the textarea became invalid. Then I've found that the directives work if I disable Strict Contextual Escaping. However, this is strongly discouraged.
Example in jsFiddle: https

[2016-02-05 14:41] deeg commented on #227
Closing this as a duplicate of #145.

If you have any solutions please feel free to put out a PR. I will continue looking into it.

[2016-02-05 14:41] #227 closed

[2016-02-10 15:19] #156 closed

[2016-02-10 15:36] deeg commented on #220
Sorry for the delay. Should be all set.

https://www.npmjs.com/package/angular-ui-tinymce

[2016-02-10 15:36] #220 closed

[2016-02-10 16:05] deeg commented on #216
Going to close this issue as I have not heard back. Feel free to respond back here and I can re-open if needed.

[2016-02-10 16:05] #216 closed

[2016-02-10 18:17] breity commented on #220
Thanks!

[2016-02-11 15:23] rodrigopavezi opened #228 "Compile error and editor does not load"
Hello,

After yesterday's release we are getting the following error and editor does not load. Would you have any clue why this is happening?

Error: [$compile:ctreq] http://errors.angularjs.org/1.3.20/$compile/ctreq?p0=ngModel&p1=uiTinymce
    at Error (native)
    at http://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.min.js:6:417
    at M (http://ajax.googleapis.com/ajax/libs/angularj

[2016-02-11 15:38] deeg commented on #228
A priority was added to the directive, could that have something to do with it?

Can you please post a plunker re-creating the issue so we can take a look?

[2016-02-11 16:11] analyst74 opened #229 "clicking Bold and Italic buttons on empty line has no effect"
This problem can be reproduced on demo.html, open in chrome, click to an empty line, and click bold/italic button. Those buttons are supposed to be highlighted (see tinymce homepage example), but are not.

[2016-02-13 11:03] ton0913nguyen opened #231 "$setUntouched"
ngModel.$setUntouched(); is not a function (line 66)

[2016-02-15 15:33] deeg commented on #231
Can you please post a plunker reproducing the problem?

[2016-02-15 15:39] deeg commented on #229
Just curious, do you see the same effect on [this plunker](https://plnkr.co/edit/TXVH21?p=preview) with the latest code?

I don't see the bug you describe.

[2016-02-16 00:01] deeg commented on #210
Adding an image via the native image plugin should fire a changed event.

[See this plunker.](https://plnkr.co/edit/G0aypw?p=preview) The model seems to update for me when I insert an image.

Can you explain when SetContent is needed?

[2016-02-16 00:17] deeg commented on #229
I'm sorry, I was using an old version of TinyMCE on one of my plunkers. I do see the issue, thanks for reporting.

[2016-02-16 01:12] deeg commented on #224
Although a pull request making this issue better has been merged in, I am going to leave the ticket open for now to see if we can improve upon it even more.

[2016-02-16 02:01] deeg commented on #231
Please take a look at [CONTRIBUTING.md](https://github.com/angular-ui/ui-tinymce/blob/master/CONTRIBUTING.md).

If you have found a bug, please open a new issue with a plunker re-creating it.

[2016-02-16 02:02] deeg commented on #228
Please take a look at [CONTRIBUTING.md](https://github.com/angular-ui/ui-tinymce/blob/master/CONTRIBUTING.md).

If you have found a bug, please open a new issue with a plunker re-creating it.

[2016-02-16 02:02] #228 closed

[2016-02-16 02:03] deeg commented on #208
Please take a look at [CONTRIBUTING.md](https://github.com/angular-ui/ui-tinymce/blob/master/CONTRIBUTING.md).

If you have found a bug, please open a new issue with a plunker re-creating it.

[2016-02-16 02:03] #208 closed

[2016-02-16 02:03] deeg commented on #202
Please take a look at [CONTRIBUTING.md](https://github.com/angular-ui/ui-tinymce/blob/master/CONTRIBUTING.md).

If you have found a bug, please open a new issue with a plunker re-creating it.

[2016-02-16 02:03] #202 closed

[2016-02-16 02:17] #225 closed

[2016-02-16 04:15] deeg commented on #214
@richcocks, is this still an issue for you with the latest release?

[2016-02-16 04:24] deeg commented on #231
My guess this is related to your version of angular.

The latest release of this library is tested with the latest 1.4.x version. Is it possible to update?

I am going to think about adding checks in to protect against this error or making a decision to interface with a certain version of angularjs and note the breaking change. Will get back to you soon.

[2016-02-16 23:53] lauraerinmann commented on #224
Having a similar issue.  Anyone have other thoughts on how to improve performance here?  I'm a little stumped.  Though the problem seems to be the ed.on ('something has changed'){ ed.save(); update...}
function.

[2016-02-17 00:59] deeg commented on #231
Going to close this issue. The recommendation is to update to the latest stable angular (1.4.9).

[2016-02-17 00:59] #231 closed

[2016-02-17 01:11] deeg commented on #213
Closed via d51f1982ce1c7acd675f301ac652d71557bebee5

[2016-02-17 01:11] #213 closed

[2016-02-17 01:14] deeg commented on #186
Closing this as it will be taken care of as part of #187

[2016-02-17 01:14] #186 closed

[2016-02-17 23:57] deeg commented on #224
@lauraerinmann, after this comment a new version was released to debounce updates.

This should have solved the issue a bit, I suggest updating to see some improvement. Will leave this PR open to see if we can't improve it more.

[2016-02-17 23:59] deeg commented on #214
The more I look this seems to be an issue with TinyMCE and not this library.

What we are currently doing to disable editing seems to be the suggested way of disabling the editor. This has the known side effect of not disabling the buttons on the editor, and a bug where you can still delete the content.

It doesn't seem that TinyMCE gives us a great way to disable changing the content in the edito

[2016-02-18 00:52] lauraerinmann commented on #224
@deeg yeah I noticed those changes and I added them to my application.  Still the same issue when the amount of the content in the editor is sufficiently large.

[2016-02-19 21:13] deeg opened #234 "Create issue template"

[2016-02-24 02:01] vutaviva opened #235 "How to load ui-tinymce programmatically"
I want load ui-tinymce in div programmatically when user click on this div. It means I want delay loading until user interact with element. Can I do that?

[2016-02-24 17:20] deeg commented on #235
Are you trying to use tinymce in inline mode with the div being the container to invoke tinymce on?

If so why not just have it loaded when the page loads?

You could instantiate a tinymce directive on click though, by putting an ng-if on the directive with a variable that gets set to true when the correct location on the page is clicked.

Going to close this issue as it is not a bug or feature re

[2016-02-24 17:20] #235 closed

[2016-02-26 15:59] felipegtx opened #236 "Codesample plugin removes HTML code"
I've used de codesample plugin to save some HTML code but when I'm trying to edit that information, tinyemce removes all the html code from there.

My code goes as follows:
[code]

Edit: I'm using version `4.3.4 (2016-02-11)`

[2016-02-26 17:26] felipegtx commented on #236
Never mind. Just found the issue and filed a PR.
tkz

[2016-02-29 16:22] felipegtx commented on #236
Reopening according to instructions from a *TinyMCE member* [here](https://github.com/tinymce/tinymce/issues/2732)

[2016-02-29 19:22] deeg commented on #236
@felipegtxm thanks for following up with the TinyMCE team.

I will take a look into this and see if I can't find the issue.

Could you please add a plunker reproducing the issue?

[2016-02-29 19:58] felipegtx commented on #236
Hey @deeg, thank you for your reply.

As I was working on the Plunker code I found out what the problem was. Turns out that I was asking my `.Net` code to write the raw contents into the textarea. That was messing up the blocks start/end data since it doesn't `HtmlEncode` the information.

That solved the problem for me :+1:

[2016-02-29 19:58] #236 closed

[2016-02-29 20:08] deeg commented on #236
@felipegtx, glad everything is settled for you.

Would you mind letting them know on the TinyMCE ticket so everyone is on the same page, and for others who might run into the same issue and find that ticket?

[2016-02-29 20:17] felipegtx commented on #236
Just did it. thank you once again @deeg.

[2016-03-01 22:11] yaegerbomb commented on #112
Since updating to the latest version of Tiny I had to do the following to get my angular buttons to work:

` $scope.tinymceOptions = { `
       `       external_plugins: { "custom-button": "/scripts/libraries/ui-tiny/plugin.js" }`
       `       init_instance_callback: function (ed) {`
              `      ed.$scope = $scope;`
        `      },`
        `       toolbar: "custom-plugin"`
 ` }`

In

[2016-03-04 17:13] laurensnl opened #237 "Can't type on mobile when using inline"
On mobile (iOS, Safari & Chrome), I can select a div that has ui-tinymce, but I can't type. The keyboard does show up, but typed letters don't show up in the div and are not added to the model.

This is the div:

`<div ui-tinymce="tinymceOptions" class="form-control-tinymce" ng-model="news.newItem.text" style="min-height: 4em;"></div>`

These are the options:

`$scope.tinymceOptions = {
	inline: t

[2016-03-04 18:23] deeg commented on #237
Can you please set up a plunker with your exact example and I can take a look into fixing it?

[2016-03-04 18:26] laurensnl commented on #237
Thank you for your quick reply Dan! I'm leaving for holiday now but I'll make a Plunker as soon as I'm back.

[2016-03-09 15:03] MrMartiniMo opened #238 "Form gets $dirty after touching the model."
Still running into the form gets $dirty issue (#48, #107).

http://plnkr.co/edit/INfZpLpz2yrRvlHitw1N?p=preview

[2016-03-09 15:35] deeg commented on #238
The plunker does not seem to load angular-ui-tinymce correctly.

Do you mind fixing it up and I can take a look?

[2016-03-09 15:53] MrMartiniMo commented on #238
plunker updated. thanks @deeg

[2016-03-09 16:11] deeg commented on #238
Thanks for updating, it indeed still seems like a bug.

I will take a look into fixing it. PRs are welcome if you already started looking at it.

[2016-03-09 20:26] MrMartiniMo commented on #238
It is somewhere in [`updateView`](https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L26).

[code]

Maybe we need to check if the content has changed or not.

[2016-03-14 14:37] clonitza commented on #217
A workaround until a fix comes, add/remove event handlers as needed, I'm using ui router in my app:

[code]

If you find other ways to remove the handlers without using the timeout please do tell.

[2016-03-15 08:45] laurensnl commented on #237
Tried it in a Plunker and it worked, so I guess there's something else in my app that breaks it. I'll dive into it!

[2016-03-15 16:12] deeg commented on #237
Great, feel free to open a new issue or report back here if you find it is a bug.

[2016-03-15 16:12] #237 closed

[2016-03-17 13:23] pelizza opened #240 "Copy and paste on Firefox doesn't update the model"
When doing a copy and paste action using Firefox, it seems TinyMCE doesn't fire "change" event and so the model is not updated.

Trying to troubleshoot the problem I've found [this link](http://archive.tinymce.com/wiki.php/API3:event.tinymce.Editor.onPaste). It seems there is a special event for paste events, fired on all browsers.

Maybe listening to "paste" event to update the model is enough to

[2016-03-21 17:21] Zhouzi opened #241 "Using ng-if along with ui-tinymce causes the ngModel controller not to be found"
The priority of ui-tinymce being 999, it's higher than [ng-if](https://github.com/angular/angular.js/blob/32feb2b45f61f58579803b2d2d78b88f939ad47c/src/ng/directive/ngIf.js#L85) and gets compiled before the ngModel is available. It causes a `Controller 'ngModel', required by directive 'uiTinymce', can't be found!` to be thrown:

[code]

Here is a [fiddle](https://jsfiddle.net/0mvtzk10/).

There are

[2016-03-23 13:23] RopoMen opened #243 "Update Angular version dependency to 1.3.x"
Hi,

I have AngularJS 1.2.12 in use and I did install latest ui-tinymce and I'm getting error
"tinymce.min.js:1 Uncaught TypeError: q.$setUntouched is not a function"

`$setUntouched` is not available in AngularJS 1.2.x series, it is [introduced](https://code.angularjs.org/1.3.0/docs/api/ng/type/form.FormController) in AngularJS 1.3.0

[2016-03-24 07:53] RopoMen commented on #243
Option 2, this would still be compatible with other AngularJS versions.
[code]

[2016-03-25 01:58] #241 closed

[2016-03-25 02:13] #238 closed

[2016-03-25 02:27] deeg commented on #243
Going to require 1.4.x or greater now.

[2016-03-25 02:28] #243 closed

[2016-04-01 09:29] rbecheras opened #244 "Do you know the project ? I (eventually) could be a dependency on ui-tinymce"
https://github.com/akatov/angular-contenteditable

As tinymce use `contenteditable=true` behavior, `ui-tinymce` has to deal with it and `ngModel`.

I just want to report to you this project, in case you will want to transfert behaviors to it and add it as a dependency.

Just in case ;-)
I didn't checked it in details yet

[2016-04-04 18:29] RangaKom commented on #217
I am getting "locationChangeStartHandler is not a function" Error

[2016-04-13 17:45] andypoorman opened #245 "ng-click doesn't work"
When a text area does not have tinymce, ng-click works fine. When it has it, ng-click no longer fires.

[2016-04-13 18:04] deeg commented on #245
Please post a reproduction of the issue using plunker so we can investigate and fix.

[2016-04-13 18:28] andypoorman commented on #245
http://plnkr.co/edit/VGVCfDIxtvPDlEDTCwrJ?p=preview

[2016-04-13 19:59] deeg commented on #245
@andypoorman, thanks for posting that.

It does make sense to me since TinyMCE gets rendered within an iframe, the ng-click does not see the click event.

Could you try using [TinyMCE's onClick handler](http://archive.tinymce.com/wiki.php/API3:event.tinymce.Editor.onClick) instead?

An enhancement for this library could be to make ng-click function get injected automatically into the tinymce oncli

[2016-04-14 01:51] andypoorman commented on #245
For my specific use case, it's hard to get access to all the angular goodness that I'd like without getting "creative".

[2016-04-14 02:25] deeg commented on #245
I am confused by that. Using TinyMCE's onclick handler you should be able to set it up to run the same function you would be supplying to ng-click. Is there a specific reason you think you would not be able to do that?

Could you provide a plunker demonstrating why and maybe I could help?

[2016-04-18 06:27] VigneswaranMarimuthu opened #246 "Updating dependency"
Hi,

Can you update angular dependency ? I am using latest angular code base and since this plugin uses 1.4, my Jenkins builds are failing.

[2016-04-18 17:20] deeg commented on #246
@VigneswaranMarimuthu, I have not checked it with Angular 1.5 yet but I will do that and update the dependency.

[2016-04-19 03:32] VigneswaranMarimuthu commented on #246
Thanks :)

On Mon, Apr 18, 2016 at 10:50 PM, Dan <notifications@github.com> wrote:

[2016-04-21 19:06] asulaiman commented on #240
+1 seeing the same behavior on Chrome.

[2016-04-23 20:44] MrMartiniMo opened #247 "Pasting text does not change the model"
Hi there!

I've found that the model does not change, if I past text into the tinymce input.
I try to analyze the problem.

https://plnkr.co/edit/YRfHj2EpWldiH1856CxK?p=preview

[2016-04-23 21:19] MrMartiniMo commented on #247
I figured out that tinymce doesn't change the dirty flag by pasting text, unless the "past" plugin is loaded.
https://plnkr.co/edit/2Q1KfaUdh77XutpuhzsP?p=preview

So you think thats a bug in tinymce? Anyway, it is not an error in ui-tinimce!

[2016-04-23 23:28] jmeisner3 opened #248 "UnSafe Digest"
I am not sure I have adhered to the guidelines, but the general idea can be seen here.
Excuse my spelling mistake. I was using the filemanager to trigger a modal, and the digest for the modal was overlapping with this digest, which throws an uncaught exception. This safe digest logic is being done on a digest earlier in the file, but not in this particular one.

https://github.com/jmeisner3/ui-tin

[2016-04-28 16:14] CSchuster opened #249 "TinyMCE gets cleared when dragged inside a repeater"
Hi,

i use the TinyMCE in an AngularJS repeater with the ng-sortable v1.3.5.

But unfortunately the Editor gets cleared everytime i move him.

The Model still has the connect Values and even the underlying textarea is still ok:

[code]

Any ideas how to keep the TinyMCE Editor filled after drag/drop?

kind regards
Christoph

[2016-04-28 17:34] deeg commented on #249
Can you please create a plunker demonstrating the issue so we can look into fixing it?

[2016-04-28 18:21] CSchuster commented on #249
Hi,
sure. took some time to fix all the paths...
https://plnkr.co/edit/zjmiWy2ptMU5vYhGLevY?p=preview

[2016-04-28 20:18] deeg commented on #247
Closing as a duplicate of #240

[2016-04-28 20:18] #247 closed

[2016-04-28 20:22] MrMartiniMo commented on #240
I think it is a bug in tinymce itself. My current workaround is adding the `paste`-Plugin.

https://plnkr.co/edit/2Q1KfaUdh77XutpuhzsP?p=preview

[2016-04-28 20:22] deeg commented on #249
@CSchuster, the best way I know is to set a callback for the order changed event with ng-sortable, and when the order is changed, send out the tinymce:refresh event.

[You can see this plunker for an example](https://plnkr.co/edit/4rYq7CPHA0lyJMJTZmJH?p=preview)

If you did not use a controller and did the JS inside a directive you would probably be able to use $emit instead of $boadcast which wou

[2016-04-28 20:22] #249 closed

[2016-04-29 10:39] CSchuster commented on #249
Hi, thank you @deeg . Its working now in Edge & Chrome, but not in Firefox.
Any ideas?
And i have ugly flickering after dropping.
(I know, that it's because the recreation of the TinyMCE.)

[2016-04-29 13:23] CSchuster commented on #249
Hi,

i fixed the flickering by keeping the heights with this:

[code]

but it's still not working in Firefox :-(

[2016-04-29 20:15] guilherme6191 opened #250 "Problem with links, next character being included into <a> tag"
Hello, guys. Thanks for the support!

I ran into an issue and I'm really struggling to find a workaround or solution.
This might be wrong setup or maybe I am missing something. But so far, I think it's a bug.

I have this setup for TinyMce being applied in a Div (editable).

[code]
When I type a link in the div and press Enter, the next character, and also the <br> is included in the <a> generated

[2016-04-29 20:44] guilherme6191 commented on #250
Plunker for that:
http://embed.plnkr.co/Q89KMX/

[2016-04-29 21:16] lommez commented on #145
Is there a workaround for using ng-maxlength or maxlength?

[2016-05-03 05:07] andresmatasuarez commented on #145
I am using the following directive as a workaround, without specifying the maxlength attribute.
I know it's not perfect, I didn't have the time to delve deeper into Angular formatters and its edge cases, but I think it do the work.

Usage
[code]

Directive. Basically, it performs a maxlength validation on the text with its HTML tags ROUGHLY stripped.
[code]

[2016-05-03 09:35] Careidas77 commented on #248
I think what @jmeisner3 is referring to is the code around line 100, inside setupOptions:

`ed.on('blur', function () {
  element[0].blur();
  ngModel.$setTouched();
  scope.$digest();
});`

I ran into the same problem with the line `scope.$digest();` causing a "digest already in progress" error. It should probably be wrapped inside a `if (!scope.$$phase)`. That solved the problem for me, and I ha

[2016-05-04 13:08] shyamal890 opened #252 "Bug: ng-model-options not working"
For some reason when I utilize `ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 5000, 'blur': 0 } }"` . `Default` delay of 5000 is working alright. However, `onBlur` doesn't trigger model update.

[Example Plunker](https://plnkr.co/edit/6UhXkA4AzEFNjl1DvyQU?p=preview)

Request: Please add version number in the `tinymce.js` file.

[2016-05-04 13:20] shyamal890 commented on #240
@asulaiman @MrMartiniMo I don't think this is the case anymore. Try this [plunker](https://plnkr.co/edit/6UhXkA4AzEFNjl1DvyQU?p=preview).

Just remove the `ng-model-options` from the html and copy-paste. As soon as you press a space or the editor losses focus the model is updated.

[2016-05-05 17:35] breity commented on #246
+1. Any chance this can be updated soon (or @madflow's pull request be accepted)? We're using Angular 1.5.x too in our project. Thanks.

[2016-05-09 06:24] lordfriend opened #253 "Accidentally $setPristine on parent form controller"
I'm encounter problem caused by this line of code https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L84 which set parent form a pristine state on its `init` event. I use ui-tinymce inside an ngIf which may cause the ui-tinymce initialize multiple times when user switch between different type of model

it looks like this snippet
[code]

So what I expect is the ui-tinymce should no

[2016-05-09 06:54] lordfriend commented on #253
My workaround is wrapping the ui-tinymce with a ngForm controller and override its $setPristine method to prevent it change parent form pristine state

[2016-05-09 14:30] pelizza commented on #240
Yeah, at a first sight, I can't reproduce it anymore. Although, it still doesn't update the model as soon as you paste the content, differently from when something is typed.

I'll try harder to reproduce the issue here.

[2016-05-09 14:40] pelizza commented on #240
It really seems to be vanished. The curious thing, is that I cannot reproduce it even using the same version of both ui-tinymce directive and tinymce editor.

Maybe is something related to recent browser versions...

[2016-05-09 14:40] #240 closed

[2016-05-11 09:06] lucasgranberg opened #254 "setup function in uiTinymceConfig is overwritten"
The setup callback from the options object added via attribute was added to the setup callback of the setupOptions in the directive. However the setup function of uiTinymceConfig was not.

As stated in https://github.com/angular-ui/ui-tinymce/issues/143

Would it be possible to add it to the directive? I would like to have default settings added via a decorator on uiTinymceConfig.
[code]

[2016-05-11 15:49] deeg commented on #254
I am not opposed to this. Please feel free to put out a PR!

[2016-05-11 15:51] deeg commented on #253
I need to think about this a bit. I forget exactly why we make the form pristine also, since it might not be the only thing in the form.

Thanks for posting a work around, I am open to suggestions on the proper way to fix this. We could remove it, make it configurable, or something else I haven't thought of yet...

[2016-05-11 15:52] deeg commented on #252
I am not sure we are set up to work with ng-model-options. I am open to supporting this if you want to put out a PR.

I will open a ticket and look into adding a version number to the tinymce.js file.

[2016-05-11 16:08] deeg commented on #250
It seems that the following option is the culpurit.

```forced_root_block: false,```

If you remove that setting, it seems to work correctly. Is there a reason you need that to be false? This seems like an issue with TinyMCE and not this library. I recommend you report this on their github if you need it to work with that setting enabled.

I am going to close as I don't believe this is a bug, but

[2016-05-11 16:08] #250 closed

[2016-05-11 16:17] guilherme6191 commented on #250
That setting is false because I didn't want `<p>` elements being created.

I found a workaround though. I took that `forced_root_block` setting out and styled the `<p>` elements so they'd have no margins. Also, to save the content, I used innerText so I won't get any HTML element.

Yeah, it might be TinyMCE issue, but I think it's a weird behavior, probably a bug.

Thanks for the support.

[2016-05-13 00:22] joshribakoff opened #256 "debounce bug"
I have a page where the user edits a model & hits "save".
[code]

As I type, I do not see {{block}} update until I stop typing for about 1 second. Sometimes the user will hit save before the "debounce" updates the scope, and they lose a bunch of work. Why would it use debounce instead of throttle?

Found this in the source:

[code]

At the very least let the user change the value from 400 to a cus

[2016-05-15 09:08] douglasg14b commented on #256
Discovering the same issue here. If you try and "submit" changes in the TinyMCE text area some of those changes are not yet in the model if it's shortly after I've been typing. This is especially disrupting when using TinyMCE for a chat app.

[2016-05-15 09:32] douglasg14b commented on #256
A fix for this, modify the `ed.on` function to check for a debounce option.

[code]

If no debounce option has been included, then it defualts to not debouncing. If a `debounce: true` property is included in the `tinymceOptions` then it will debounce. This could of course be turned around to default to debouncing.

[2016-05-16 14:39] deeg commented on #256
Thanks for everyone's input.

I like the proposed fix of making debouncing optional. I will try to get to all of the open PRs tonight. Sorry for the delay.

[2016-05-17 01:16] deeg commented on #246
Closed via fd0dc39576ce17030683db753491e171401a6dc2

[2016-05-17 01:16] #246 closed

[2016-05-17 01:24] #254 closed

[2016-05-17 01:45] #256 closed

[2016-05-17 01:45] #248 closed

[2016-05-17 01:47] deeg commented on #256
I ended up leaving debouncing on as default, by allowing you to disable it through options.

I am going to open another ticket to investigate changing to throttle instead of debounce, and allow debounce through ng-model-options.

[2016-05-17 01:51] deeg opened #258 "Investigate changing debounce model update to throttle"
Determine if we need to throttle at all or if we can just add support for ng-model-options and allow the user to debounce themselves.

[2016-05-17 18:58] pelizza commented on #253
Hey guys. Same problem here. I passed hours trying to understand why my form got pristine after ui-tinymce has been initialized.

I'm going to use the suggested workaround until we discover why it sets the parent form to pristine.

[2016-05-17 19:45] pelizza commented on #253
Yep, the workaround worked like a charm.
Hey @deeg, let me know if you need some help with this.

[2016-05-23 21:33] deeg commented on #253
@pelizza, please feel free to put out a PR so we can review.

[2016-05-24 09:06] shyamal890 commented on #252
@deeg I have no idea how this can be supported. however, there is something that I noticed, changes in `debounce` value are taken in to consideration where as `blur` is not.

[2016-05-24 13:59] pelizza commented on #253
Here is it: https://github.com/angular-ui/ui-tinymce/pull/259

[2016-05-29 17:15] davidsekar opened #260 "Passing a call back function save_onsavecallback is not triggered when save button is clicked"
I'm trying to set callback **save_onsavecallback** for the save plugin. But it looks like it is not at all registered as a callback through the init options.

I expected to see $scope is not defined or some error. but It did nothing. There is something else that I'm missing while sending the callback function,

I have posted a query in SO if someone has done similar thing with the save plugin
http

[2016-06-01 19:22] KreepN commented on #217
I'm in the same boat as the original poster that I am using ui-tinymce in a wizard that contains multiple states ( using "ui.router"). It would seem that this is still an issue, although one affecting a minority of people. Is there anyway to prevent the directive from resolving if it is aware of a state change on progress?

[2016-06-02 12:21] lucasgranberg commented on #260
Do you have the save plugin enabled? I don't think it is by default.

[2016-06-03 02:15] gera2ld commented on #210
Similar problem here.

`setContent` fires `change` event, but the `dirty` state remains false, which blocks content update in ui-tinymce.

[2016-06-03 07:06] rbecheras commented on #210
Oh, thanks for this notice @gera2ld , I didn't see that point before. I think this is a great clue to correctly resolve the issue.

[2016-06-05 13:30] davidsekar commented on #260
Yes I'm pretty sure. That I have included "save" plugin in the list of plugins and the Save icon appeared in the toolbar as expected. but the callback method isn't triggered as expected.

may be I will create a plunker for submitting over here for investigation

[2016-06-05 14:07] davidsekar commented on #260
Here is the sample setup, how i use in my project. https://plnkr.co/edit/tFCIqWTet7009kvPVdln?p=preview

[2016-06-05 18:16] davidsekar commented on #260
**This seems to be the issue :**
when save_enablewhendirty is set as true (default), the callback is not trigged at all.
When this option is set to false. Everything seems to work fine.  (A StackOverflow user has identified that it is working when set to false. Never occurred to me, as i just didn't want to modify the default value )

**Cause :** Even though the content with TinyMCE is changed. It

[2016-06-06 10:43] devwwg opened #261 "On load ui-tinymce error. getDoc().body undefined"
Products versions:

**AngularJs** 1.5.0
**Jquery** 2.2.4
**Tinymce** 4.3.12
**UI-tinymce** Latest commit

**Tested with:** Firefox, Chrome

**Error:**
angular.js:13236 TypeError: Cannot read property 'body' of undefined
    at Object.Editor.getBody (tinymce.js:38602)
    at toggleDisable (tinymce.js:49)
    at tinymce.js:142
    at angular.js:18744
    at completeOutstandingRequest (angular.js:580

[2016-06-07 05:14] rguruprakash opened #262 "ng-model is not getting updated properly"
I am trying to insert a DOM node on a custom button click. but the model associated with the textarea is not getting updated.

I have created a plunker to demonstrate the issue.
 https://plnkr.co/edit/Qe3COw

Try clicking the 'My Button' more than once. from the second click, the model is not getting updated.

[2016-06-07 22:53] DfKimera opened #263 "Updating ng-model on click stops updating the editor contents after a few changes"
I have a screen that allows the user to edit several HTML sections in the same page. So there's a `$scope` variable called `contents`, that has a bunch of objects with HTMLs in them, and a single editor, with the `ng-model` pointing to `$scope.content`. When the user selects a file, the `ng-click` event points `$scope.content` to the appropriate item in `$scope.contents`.

When the user writes a b

[2016-06-08 14:40] Kimpossibru opened #264 "Cannot read property 'body' of undefined exception since TinyMCE 4.3.13 - works with TinyMCE 4.3.12"
When doing a bower update, you now get TinyMCE 4.3.13 rather than 4.3.12 (since a couple of hours). This causes the exception "Cannot read property 'body' of undefined" for me.
As a workaround, I've installed 4.3.12 via my own bower.json again. That solved the problem for now. You may want to look into why 4.3.13 doesn't work with ui-tinymce - perhaps report issues to tinyMCE directly if you find

[2016-06-09 21:21] mykbaker commented on #264
I am also getting this error, had to revert back to 4.3.12.

[2016-06-10 01:23] adrianorsouza commented on #264
Had the same issue today with tinymce `v4.3.13` as @Kimpossibru said manually add `v4.3.12` to `bower.json` works fine.

In my case this error appears when I set the options attribute like so: `ui-tinymce="tinymceOptions"` without options set it works fine with `v4.3.13`.

[2016-06-10 06:45] digvijayatjax opened #265 "UI-tinymce editor not even showing after building the project with grunt build. Do i need to change options?"
editor works fine in development but its not working anymore when i build it with minification of files...
guys help me out....is there anyone whos has this kind of error....do i need to change tinymce options in the controller??

[2016-06-11 13:25] rguruprakash commented on #262
Found a workaround using
editor.execCommand('mceInsertContent', false, a);

Plunker:
https://plnkr.co/edit/vHF3sS?p=preview

[2016-06-11 13:25] #262 closed

[2016-06-11 13:31] rguruprakash commented on #265
I came across similar issue, check if tinymce's theme, skin and plugin directories are getting copied to your dist folder

I dont know if its clean or not, but adding following line to my grunt-copy config solved my issue

`{cwd: 'bower_components/tinymce-dist/', src: ['plugins/**', 'themes/**', 'skins/**'], dest: 'dist/', filter: 'isFile', expand:true}`

[2016-06-13 13:58] paulo17 commented on #264
Got the same error on v4.3.13 but work fine in v4.3.12

[2016-06-13 17:40] shyamal890 commented on #256
@deeg would be great if `ng-model-options` can be supported.

[2016-06-14 15:04] digvijayatjax commented on #265
not working , I added the above code in copy.js file, but its not adding those files in dist folder..

[2016-06-14 15:27] jbrizio commented on #264
Mee too! With the version 4.3.12 Work fine

[2016-06-15 12:45] ssuryar commented on #44
In Gruntfile.js

[code]

[2016-06-15 13:23] Lezeper commented on #264
Get same error on latest version.

[2016-06-16 08:30] vminstance commented on #261
This error seems to be specific to the latest version of TinyMCE, and works as a charm with TinyMCE v.4.3.12.

[2016-06-16 13:51] deeg commented on #265
Can you please post a plunker reproducing your issue with the minified files, or show the error in question?

[2016-06-16 13:51] deeg commented on #264
Sorry for the delay, I will look at this later today and see if we can fix it.

[2016-06-16 13:53] deeg commented on #261
So the issue is really with TinyMCE 4.3.13? Closing as a duplicate of #264

[2016-06-16 13:53] #261 closed

[2016-06-16 13:56] deeg commented on #256
@shyamal890, please try to refrain from commenting on closed issues as they can easily get lost.

There is already another ticket for this #252 which you opened. I am happy to review PRs for implementing this feature!

[2016-06-20 14:41] jarekb84 commented on #208
I think what the OP's issue is that the documentation says you can pass a trusted option to this directive, but there's no actual code in the library that uses that option anymore.

Looks like trusted was added here
https://github.com/angular-ui/ui-tinymce/commit/4d94282ffc0962daf0a67d6bed0f44ac05ca8e96

Documentation updated here
https://github.com/angular-ui/ui-tinymce/commit/da10af39110cad92a22

[2016-06-20 14:49] jarekb84 commented on #208
I've added a small PR to update the docs
https://github.com/angular-ui/ui-tinymce/pull/266

[2016-06-21 16:11] hitokiri opened #267 "problem with json_encode"
tinymce does not correctly render the html or text when it is brought by angular from json_encode

[2016-06-21 16:48] hitokiri commented on #267
I found how to solve the problem is by using the function of js html_entity_decode

[2016-06-21 16:48] #267 closed

[2016-06-21 20:31] pelizza commented on #253
Hey @deeg, I appreciate if you can review the pull request :) It's been a while since I created it...

Thanks!

[2016-06-21 21:57] shyamal890 commented on #252
@deeg Made some changes to js file for custom debounce and blur option. Would like you take whether they are good enough as a temporary solution?

Changes:
Added `debouncetime` and `onblur` to options.

[code]
[PLUNKER](https://plnkr.co/edit/6UhXkA4AzEFNjl1DvyQU?p=preview)

[2016-06-22 14:05] fernandodof opened #268 "Formats (styleselect) tooltip not showing"
Hello,

I noticed that all the buttons on the editor toolbar have a tootip, exept the "Formats" button.
Has this bug already been addressed ? (is it a bug ?)

Example: http://embed.plnkr.co/vL7MqL/

Thank you.

[2016-06-22 16:50] DennisVM opened #269 "ngModel not been updated by 'Delete' (/delete-right) key (but works fine for the backspace (/delete-left) key)"
If you have the ngModel displayed upon the page, it seems to update dynamically when you use the backspace key (within the editor/upon the content text) but not (dynamically) for the 'Delete' key.

(If you tab away from the editor to another element upon the page then the model then updates.)

[Latest version]

  <mailto:Dennis.McEnaney@aimediacomms.com>

[2016-06-23 13:58] soniccat commented on #264
@deeg while trying to figure out the reasons of the crash I got that Editior.init call happens later than toggleDisable by timer. And after toggleDisable call in getWin I have empty self.iframeElement. And the crash happens  here because of empty body

```tinyInstance.getBody().setAttribute('contenteditable', true);```

[2016-06-24 20:40] RobinCodeX opened #270 "Cannot read property 'body' of undefined ?"
![image](https://cloud.githubusercontent.com/assets/8408783/16349972/5518528a-3a8e-11e6-8b49-23e7b59851a9.png)

[code]

Idk this error how to fix this error.

[2016-06-24 20:42] #270 closed

[2016-06-28 07:05] Abhinavmwoe opened #271 "Tinymce editor Menu not in sync with menu button"
my page is a bit long page as i am putting editor in my page quite below so wat happens is that when i click menu menubar opens on top of the page. i guess its a tinymce js issue..please guide me how to sync it with menubar.mayb putting it inside an iframe can fix it..if it can then how..please guide me..see screenshot.
![untitled](https://cloud.githubusercontent.com/assets/20181343/16406574/bc035

[2016-06-28 20:25] mja-maia commented on #264
the same error here

[2016-06-28 20:51] jgerlach commented on #264
Any progress on this?

[2016-06-29 19:38] guilherme6191 commented on #264
+1

[2016-06-30 07:54] comm1x commented on #264
+1, still has problem on 4.3.13

[2016-06-30 18:47] jldevries commented on #258
Just looking into this now, I noticed if I used an ng-model-options they aren't honored

[2016-07-04 17:52] andela-smartins commented on #270
Hi @RobinCodeX, how did you resolve the above error? I just got the error too when I upgraded to the latest version

[2016-07-05 09:11] pcunha03 commented on #264
+1

[2016-07-05 11:47] Jony-Y commented on #264
+1

[2016-07-05 11:52] fabiogallo-blueprint commented on #264
+1
Btw, it's still a problem with tinyMCE latest release, v4.4

[2016-07-06 03:26] RobinCodeX commented on #270
@andela-smartins use version 4.3.12, see https://github.com/angular-ui/ui-tinymce/issues/264

[2016-07-06 11:46] Tangeek59 commented on #264
Same issue for me, with latest release

[2016-07-07 13:29] lee-tunnicliffe opened #276 "Unit tests failing for versions of tinymce >= 4.3.13"
INFO [Chrome 51.0.2704 (Mac OS X 10.11.4)]: Connected on socket JdQ1Ub4KOxbanMWXi3C0 with id 20342993
Chrome 51.0.2704 (Mac OS X 10.11.4): Executed 0 of 11 SUCCESS (0 secs / 0 secs)
Chrome 51.0.2704 (Mac OS X 10.11.4): Executed 1 of 11 SUCCESS (0 secs / 0.06 secs)
Chrome 51.0.2704 (Mac OS X 10.11.4): Executed 2 of 11 SUCCESS (0 secs / 0.072 secs)
Chrome 51.0.2704 (Mac OS X 10.11.4): Executed 3 of

[2016-07-07 17:26] lee-tunnicliffe opened #278 "Blur event does not fire correctly on previously focused element when focusing the editor"
[Plunker](https://plnkr.co/edit/ElIVNOApJYyVzgu4H9WB) demonstrating the issue.

Reproduction steps:
!) Open in ios device.
2) click the top input
3) click the editor
4) click the bottom input
5) click the editor

Notice that the focus is still in the previous input and the caret is not showing in the editor and none of the events are firing. I'm not using this wrapper in the plunker so this isn't

[2016-07-11 01:06] alvachien commented on #264
+1

Same issue occurs in tinymce V4.4.

[2016-07-11 09:01] lee-tunnicliffe commented on #278
Closed as not an issue with the wrapper. I can provide the solution if you would like to fix it here.

[2016-07-11 09:01] #278 closed

[2016-07-11 22:08] muqeet-khan opened #279 "How to getContent for a text area from tinyMCE when multiple editors on the same page?"
Hello, I have a scenario where I have 3 editors on the same page for 3 different model properties. I need to be able to access the content for these in raw from tinymce along with the HTML.

For now,

[code]
is the HTML and JS as follows:

[code]

All of the above works and I get the data in editor and also back in the JS when the submit button is clicked.  I can also do the following:

`vm.submis

[2016-07-14 11:55] deeg commented on #268
This is not a bug in this library. If you look at the [TinyMCE Homepage Example](https://www.tinymce.com/) you will see the same behavior there.

If you believe this is a bug with TinyMCE, I would post a bug on their [github issues page](https://github.com/tinymce/tinymce/issues).

[2016-07-14 11:55] #268 closed

[2016-07-14 11:56] deeg commented on #269
Thanks, this is probably an issue with the event we are watching.

Can you please post Plunkers reproducing the issue in the future? If you would like to investigate and put our a PR, I would be more than happy to merge a fix in.

[2016-07-14 11:57] deeg commented on #271
@Abhinavmwoe, please post a plunker reproducing the issue so we can look into it.

My guess is this is a CSS issue, and not necessarily a issue with this library, but rather maybe TinyMCE itself, or some of your CSS rules in your own application.

[2016-07-14 11:58] deeg commented on #276
@lee-tunnicliffe, I saw you opened a PR and then closed it. Was it not fixed with your changes?

Do you want to re-open it? I think there is an issue with the latest version of TinyMCE, I still need to look into. I hope to make some time to do that today.

[2016-07-14 12:04] deeg commented on #279
Do you only need the raw text format, or do you ned the regular HTML format from the model binding as well?

I believe you could set ```raw:true``` on the options which would make the model binding the raw text value instead.

If you need both, you could probably surf the dom and extract the ID out of it, but I know that is not pretty. Let me think on it and see if I can come up with anything else

[2016-07-14 12:45] Abhinavmwoe commented on #271
@deeg , yes i have solved this as it was a css issue but there is still a problem . once i load tinymce into a slider page on any page same thing occurs

[2016-07-14 21:51] SteveyPugs commented on #264
+1

[2016-07-15 08:12] ymind commented on #264
+1

[2016-07-15 08:17] rash2x commented on #264
+1

[2016-07-15 18:59] gartner commented on #158
I was hit by this too.
My own options, set in the scope, was not applied. Adding an ng-if="tinymceOptions" to the tag with the ui-tinymce would make my options work.
But when doing that, the text I entered into tinyMce editor, would not get back to the model, it would keep on remembering the initial value.

But placing the two angular.extend(..) calls inside $timeout() as suggested by https://gith

[2016-07-16 10:34] moritzpflaum commented on #264
I made a plnkr showing the issue:
http://plnkr.co/edit/R7oHmGcRkKz5ZZXSFo9h

And one showing it fixed:
http://plnkr.co/edit/F1QJlRPN8M04n3yNCgm5

The tests fail because of the line
    ``beforeEach(module('ui.tinymce'));``

which resets the variable ``generatedIds`` to zero before every test, resulting in duplicate ids in the test DOM. If it is replaced with something global, the tests pass. This

[2016-07-18 13:32] thomasvnl commented on #264
@moritzpflaum Thank you, just what I needed to fix the error.

[2016-07-18 13:51] Tangeek59 commented on #264
@moritzpflaum Thanks a lot, working for me too ;)

[2016-07-18 14:27] guilherme6191 commented on #264
I didn't quite get it. I don't think it happens only in a tested suit.

What is exactly the change to fix this?

[2016-07-18 16:58] reginaldocmrg commented on #264
In my case It was solved, in Angular2, using setTimeout.

[2016-07-20 10:03] Nirajyadav1992 commented on #49
dfasdfsadf

[2016-07-22 12:50] maphi88 opened #281 "Different behavior with Plugin"
If I use the Plugin //tinymce.cachefly.net/4.0/tinymce.min.js
 The change made in my setting files does not reflect.
If I use http://cdn.tinymce.com/4/tinymce.min.js My $scope is empty.

[2016-07-22 18:04] moritzpflaum commented on #264
@guilherme6191
The issue happens in production.
What only happens in the environment of the unit tests is the unit tests failing, because the angular-directive definition is run multiple times and always resets the "unique" counter for the id.

This is not a problem by itself, but the unit tests continue to append directives with the same '0' value id to the **same DOM**.
This makes tinymce mess u

[2016-07-22 18:42] johnwpowell opened #282 "Error destroying when closing dialog or navigating in Firefox (47.0.1)"
To reproduce
Put the editor on a dialog
Close the dialog without editing any of the text
An error occurs in in the tinyInstance.remove() calls
Put the editor on a view
Navigate away from the view without making any changes
An error occurs in the tinyInstance.remove() calls

The code in the directive is:
scope.$on('$destroy', function () {
                  ensureInstance();

                  if (

[2016-07-22 21:53] thomasvnl commented on #264
For me it happened in development mode when running an angularjs app with
grunt.

Op vr 22 jul. 2016 20:04 schreef moritzpflaum <notifications@github.com>:

[2016-07-27 22:15] KRaymundus commented on #264
I had the same problem, solved it by commenting the line 142:
`toggleDisable(scope.$eval(attrs.ngDisabled));`

[2016-07-28 17:15] calbear47 commented on #282
I am getting the same error under the same circumstances as @johnwpowell, however I only get this exception thrown w/ FireFox 47.x

I believe this thread is related. [https://github.com/tinymce/tinymce/issues/794]

[2016-08-08 21:41] CyborgMaster commented on #264
I appears to me that @moritzpflaum, may have a fix.  Are we waiting for a PR from him?

[2016-08-09 17:55] moritzpflaum commented on #264
@CyborgMaster I made a PR and it's passing CI.
Someone just needs to accept & merge it. There are some other issues/PRs, too.

[2016-08-14 01:32] bobzurad commented on #264
@moritzpflaum The files in the two plnkr's you posted have the same exact code. What's the difference?

I took @KRaymundus' advice and commented out line 142 to fix it.

Thanks everyone!

[2016-08-18 21:49] peterkc commented on #264
Adding a $timeout in toggleDisable() seems to fix it. I am not sure if this would cause other issues.

[code]

[2016-08-25 09:22] dfabreguette-ap commented on #217
+1

[2016-08-30 05:02] jelgblad commented on #217
+1

[2016-08-30 19:22] Rouche commented on #264
Did the solution explained here and fixed it:
https://github.com/tinymce/tinymce/issues/2722

[2016-08-31 07:54] raphael-m commented on #238
It seems that the issue still exists when `debounce` is set to false.

[2016-09-02 10:26] ohjames commented on #264
I reverted back to 4.3.12 via `bower install --save tinymce-dist#4.3.12` but after running that bower installs to a folder `tinymce` (not `tinymce-dist`) and from then on every time I run `bower install` it gets `tinymce-dist` as well, leaving me with two versions of tinymce, one with a -dist prefix at the broken version and the one I want.

[2016-09-02 11:00] ohjames commented on #264
Ah `bower install` rewrites the `bower.json` entry according to the `name` in `bower.json` so you have to edit the file after running this and then run `bower install` again.

[2016-09-05 07:32] bartonsprings opened #283 "Pass ng-repeat item ID to tinymceOptions at init"
I have run into an issue. Here is my scenario:

1. Tinymce editor is inside a ng-repeat. For **example**, lets say item in items
2. The textarea ng-model is bound to item.Body property of the item
3. I need to post a URL based on onclick event for a specific button. But the url string depends on the item.ID inside that item object
4. How do I get this item.ID inside the tinymceOptions so I can use

[2016-09-05 09:15] jeanmatthieud opened #284 "tinymce dependencies"
The "tinymce-dist" bower package is the same as the "tinymce" package.
As the package name in the "bower.js" file is "tinymce", the dependency of "angular-ui-tinymce" should be "tinymce" instead of "tinymce-dist".

The current dependency is not compatible with builders like "brunch".

[2016-09-05 17:15] leighmillard commented on #283
I'm not sure if this will help you but I was hitting the same brick wall.
In the end I just added my own attribute to the directive tag and then grabbed it back from the event when it fired.

<div ui-tinymce="vm.tinymceStandard" ng-model="vm.content.aboutBody" modelID="aboutBody"></div>

vm.tinymceStandard = {
            setup: function(e) {

                e.on('blur', function () {

[2016-09-05 22:32] bartonsprings commented on #283
Thank you @leighmillard !
You pointed me in the right direction. I built up on your direction and did it this way.

**HTML Markup:**
`                            <textarea class="its-editor" ui-tinymce="tinymceOptions"
                                      ng-model="item.Body"
                                      data-section="{{item.itemID}}"
</textarea>`

As you can see that I am defining a new

[2016-09-05 22:32] #283 closed

[2016-09-09 15:16] zero-degrees commented on #264
Commenting out the toggleDisable line isn't a good solution. I submitted a PR for a more robust fix that waits for TinyMCE to start up.

[2016-09-12 11:33] cengkuru commented on #261
Had this issue before commenting toggleDisable(scope.$eval(attrs.ngDisabled)) on line 142 did it for me

[2016-09-12 11:34] cengkuru commented on #270
Had this issue before. i solved it by commenting out toggleDisable(scope.$eval(attrs.ngDisabled)); in lie 142

[2016-09-13 12:29] rbecheras commented on #284
I agree, I was going to post the same issue before found yours.

[2016-09-13 14:20] asaarnak commented on #264
Any progress?

[2016-09-13 14:32] zero-degrees commented on #264
Yes. It works reliably for me, and I submitted a PR. There is a failing
test, but that appears to be a preexisting issue.

On Sep 13, 2016 9:20 AM, "asaarnak" <notifications@github.com> wrote:

[2016-09-15 01:45] mcblum commented on #162
+1. We build a drag and drop tree editor and when you have 5-10 of these editors on one page, it takes ~10 seconds to load.

[2016-09-15 01:47] mcblum opened #288 "Combine plugins into one single HTTP request"
I don't know if this is a ui-tinymce issue or what but each instance of TinyMce is loading like 10 plugins and if there are a bunch of editors on one page it turns into many, many requests and takes quite a while. Any idea if there's a way to fix this and serve just one JS file?

[2016-09-15 14:35] #264 closed

[2016-09-15 14:46] #284 closed

[2016-09-15 14:53] deeg commented on #288
This is more of a support request for TinyMCE. Ui-tinymce does not change how TinyMCE loads its plugins.

I would suggest checking out [their plugins docs](https://www.tinymce.com/docs/plugins/) or posting a question on [TinyMCE's StackOverflow](http://stackoverflow.com/questions/tagged/tinymce)

[2016-09-15 14:53] #288 closed

[2016-09-15 14:54] deeg commented on #282
Could you please post a plunker reproducing the issue. From @calbear47's comment it might be an issue with TinyMCE core, and not this library. I could take a closer look if you put up a plunker.

[2016-09-15 14:55] deeg commented on #281
This is not the place for support requests. I would try posting to stack overflow. I am also not sure this would be an issue with ui-tinymce, but rather TinyMCE core.

[2016-09-15 14:55] #281 closed

[2016-09-15 14:55] deeg commented on #279
Closing this due to inactivity. Please feel free to open another issue if you believe you have a valid bug.

[2016-09-15 14:55] #279 closed

[2016-09-15 14:57] deeg commented on #276
I am going to close this for now. The tests are a mess, and I haven't had time to get to them yet.

I have commented out all broken tests, and the rest should be working at current time. If anyone wants to take a stab at cleaning up the tests, please feel free to open a PR.

[2016-09-15 14:57] #276 closed

[2016-09-16 00:25] pilmee commented on #44
Set value:
angular.module('ui.tinymce', [])
  .value('uiTinymceConfig', {
    baseUrl: window.location.protocol + window.location.pathname + '/js/'
  })

....

[2016-09-16 16:53] zgambino commented on #253
After trying to figure out where the largest lag is in initializing tinymce in my system (lots of editors across multiple tabs), I found that setting $pristine on the parent forms was one of the largest factors.

After applying the fix, I saw a HUGE increase in performance!

Thanks @pelizza

[2016-09-20 16:30] Jony-Y commented on #158
Im still having this issue... using ui-tinymce 0.16 trying to set the options inside my directive
[code]
any idea what Im doing wrong?

[2016-09-22 18:40] theonemule opened #289 "TinyMCE not all textareas when using ng-repeat."
I've run into an issue with TinyMCE on using it in an ng-repeat.

When my application starts, it loads some data from a service. The ng-repeat is bound to an array from the service. When it runs, some of the textareas aren't rendered while others are. There does not seem to be a pattern, as I can't consistently make it do the same behavior on the same textareas every time the app runs.  Notice the

[2016-09-23 14:52] deeg commented on #289
Going to close this issue as it is a support question. Feel free to continue discussion and we can help if there is enough information and time.

A plunker with a live demonstration of the issue would be helpful.

[2016-09-23 14:52] #289 closed

[2016-09-23 20:11] ctysingh opened #290 "demo on plnkr"
can anyone share demo on plnkr? I am not able to run that is present in the build.

[2016-09-24 19:22] rodneyjoyce commented on #145
I can confirm that this bug is still an issue (Cannot use Min/Max lengths in angular with TinyMCe

[2016-09-24 21:04] ctysingh commented on #290
Ok I was missing oringing tinymce file. I got the working demo in plnkr
https://plnkr.co/edit/8vnJIJ?p=preview

[2016-09-24 21:04] #290 closed

[2016-09-29 01:52] Owizardo opened #291 "Refreshing multiple textareas seems slow."
Hello,

I got a small issue, I got a bootstrap modal form that contains about 10+ textareas. When I open my modal formthe tinymce loads but I cant type anything into it. So I implemented a workaround. Im using the following code unpon opening my modal:

$scope.$broadcast('$tinymce:refresh');

This works but when i open my modal it takes about 2-3 seconds before its able to reload all my 10+ textar

[2016-09-29 09:51] pjcraven opened #292 "New release as npm?"
If you get a chance to push the latest release to the package repository that would be much appreciated.

[2016-09-29 16:49] deeg commented on #292
You mean npm? Sorry I forgot about that one. Will publish shortly.

[2016-10-03 17:34] scottieslg commented on #217
Changing this code fixed it for me:

function ensureInstance() {
    if (!tinyInstance) {
        tinyInstance = tinymce.get(attrs.id);
    }
}

to:

function ensureInstance() {
    if (!tinyInstance) {
        $timeout(function() {
            tinyInstance = tinymce.get(attrs.id);
        });
    }
}

[2016-10-06 20:43] philcraven commented on #292
Sorry, should have specified npm.  Any update?

[2016-10-07 13:47] deeg commented on #292
Sorry totally spaced on this. Should be all set now.

[2016-10-07 13:47] #292 closed

[2016-10-07 19:27] aoakeson opened #296 "Allow custom skins"
When creating a custom skin, and referencing it with the skin attribute, I am getting 404s because it thinks it is trying to load it from cloud front, when it is actually loading from the disk. It does load correctly, and place the right skin on, I just receive these errors in the console.

It is trying to load these files, which error out in the console:
https://cdnjs.cloudflare.com/ajax/libs/tin

[2016-10-10 14:38] speculees opened #297 "Stop adding custom attributes"
Hello, inside of tinymce editor I have the following HTML:

&lt;p data-merged="yes"&gt;some lorem ipsum text &lt;/p&gt; &lt;p data-merged="yes"&gt;Lorem ipsum dolor sit amet,pri salutatus tincidunt reformidans id, ex nec magna epicuri delicata. Sea ne melius deseruisse, vix ut libris causae tractatos. &lt;strong data-merged="yes"&gt;Vix &lt;/strong&gt; facete virtute eu, ea iriure aliquip adversar

[2016-10-14 11:57] maziey93 commented on #291
@Owizardo I have this same problem... please can you expatiate on your workaround, till the issue is resolved

[2016-10-15 16:15] sameerinfodb commented on #145
@andresmatasuarez  can you share the plunker link with your solution because have tried solution but plain text max length directive was getting strip out of markup.

[2016-10-18 10:50] jieves opened #299 "Tinymce in ionic modal"
Hi

Has anyone tried to integrate the tinymce editor in an Ionic Modal window ?
In my case it just does not render. When I put it on the main page, it al works fine.

Anyone has a solution for this problem ?

Regards
  Joost

[2016-10-18 13:01] rbecheras commented on #299
You should start by opening a question on stackoverflow:

tagging `tinymce, ui-tinymce, ionic, javascript, html5` for example, and posting your code, with the versions you use for each component (`ionic`, `tinymce`, `ui-tinymce`).

Maybe there is a bug, but before, we should investigate on your implementation.

@deeg I suggest you close this issue for now.
@jieves You even can post here the link o

[2016-10-19 15:09] deeg commented on #297
Closing this as it is a support question. If you feel you have found a bug please open a new ticket with a plunker recreating the issue.

You may try Stack Overflow to get questions answered.

[2016-10-19 15:09] #297 closed

[2016-10-19 15:12] deeg commented on #296
Going to close this as it is a support question.

I believe you should be able to use skin_url property. I don't think this would be an issue with angular-ui tinymce, but rather tinymce itself.

[2016-10-19 15:12] #296 closed

[2016-10-20 14:23] Eragra3 opened #300 "Autosave plugin issue"
Hi,

recently I wanted to turn on _autosave_ plugin and it doesn't seem to be working with this angular wrapper. I tried [this](http://valtlfelipe.github.io/TinyMCE-LocalAutoSave/) plugin instead, but again it's not working. I tried to debug it a little bit, and it seems that some 'saveContent' event is fired too often and _autosave_ plugin is instantly removing it's entry from local storage. If y

[2016-10-20 14:25] #299 closed

[2016-10-28 07:42] BrentTheunckens opened #301 "html encoding and decoding"
I'm having problems with encoding and decode the text in the tinyMCE directive. I've created an own directive using the tinyMCE. I have an onRender function and onModelChange function.

This is the code of my onRender function:
[code]
And this the code for the watch:

[code]
When my editor is empty and I type some value in it, it gives me back this format: "&ltp&gttest&lt/p&gt", I removed the ; ot

[2016-10-28 09:19] #301 closed

[2016-11-01 10:12] EnvySky opened #303 "New release (0.0.17) does not worked stability with tinymce"
I have two tinymce editors in one page. After upgrade, the first editor always displays the toolbar but the second sometime works, sometime not.

Could you take a look this issue for me?

I has reverted to version 0.0.16 with tinymce 4.3.12 and them always work normally.

[2016-11-02 07:49] gyulakrizsma commented on #217
Changing this part of the `tinymce.js`:

[code]

[2016-11-03 13:14] hakanostrom opened #304 "ID_ATTR gets duplicated"
In the last update (0.0.17) the ID_ATTR  is based on a timestamp. This causes duplicated id:s when two or more tags are created within the same timeframe.
In previous versions it was based on an incremented value ware the issue newer occoured.
What was the reason of the change?

[2016-11-03 15:46] rbecheras commented on #304
This is a duplicate of #295

[2016-11-03 16:01] rbecheras commented on #303
Your issue is probably related to #295, #304 and #302.
I think you should take a look to these issues/PR, it could help you investigate your issue.

[2016-11-03 17:01] JavaTimeWilson commented on #44
Hi There getting the same issue. Really driving me round the bend :(

got an unusual setup here, from a Java background and am trying to get this up.
Followed the steps from this link:
https://www.tinymce.com/docs/integrations/angularjs/

however getting a 404 for loading
http://tinymce.cachefly.net/4.0/themes/modern/theme.min.js

I am unsure what this could be

I am loading

"tinymce/themes/moder

[2016-11-04 08:46] JavaTimeWilson commented on #44
I know that this is a closed thread. but just wanted to share,
The comment from
                                ketilovre commented on 5 Jun 2014
solved it, loaded all the libs, the issue for me was placing this line in the config of the Angular module

angular.module('myApp', []).config(function() {
    tinyMCE.baseURL = '/bower_components/tinymce';
})

[2016-11-04 14:05] ashxerion commented on #210
Thanks @gera2ld  that was a big help!

[2016-11-06 22:01] mostafabarmshory commented on #265
h faced with the same problem.
In my case, based on the console log, I change the copy pattern as follow:

		    {
			cwd : 'bower_components/tinymce/',
			src : [ 'plugins/**', 'themes/**',
			    'skins/**' ],
			    dest : 'dist/scripts',
			    filter : 'isFile',
			    expand : true
		    }

[2016-11-10 19:16] andresmatasuarez commented on #145
@sameerinfodb sorry for the late response, but here is the plunkr with my custom directive to make length validation work: http://plnkr.co/edit/oAZcHZAmCXYOTckJCPcs?p=preview

[2016-11-14 11:42] RNACode opened #305 "Collisions"
Sometimes I get collisions in the element id.
https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L54
As solution maybe need add a hash of an element or add random digit after?

[2016-11-14 11:45] piercy opened #306 "refresh content_style without full tinymce:refresh?"
Hey,
Not an issue as such, but some help i require.  I'm creating a drag and drop html editor using your angular directive for tinymce.  I have a scenario where  i need to apply and change the content_style dynamically.  The reason for this is the user can setup different heading styles and we would like these to be reflected in the editor.

I can make it work by setting the required CSS in the co

[2016-11-14 11:46] #306 closed

[2016-11-14 11:47] piercy commented on #306
you know what, im an idiot.  Change it to $scope not $rootScope and it works much better now.  Turns out just writing down your problem can fix it .. who knew!

[2016-11-15 09:33] rbecheras commented on #306
Hi @piercy,

you're right it's not an issue.

In the future, in you search any help, please post a question on stackoverflow instead of posting an issue here.

You could use the following tags:

- `angularjs`
- `tinymce`
- `angular-ui`
- `angular-ui-tinymce`

[2016-11-15 09:40] rbecheras commented on #305
Your issue is probably related to #295, #304 and #302 and #303
I think you should take a look to these issues/PR, it could help you investigate your issue.

[2016-11-17 13:47] rsmith-sonovate commented on #289
I think this may be a bug. I had a very similar issue using the latest version (0.0.17), I solved it be reverting to 0.0.15

[2016-11-17 17:29] Jules2010 opened #307 "<br data-mce-bogus="1">"
I've been reading related issues however nothing has led me to a solution.

I've tried setting format to raw.

However this doesn't work for me when using inline = true.

Any suggestions?

Thanks in advance.

[2016-11-21 09:57] rbecheras commented on #307
You question isn't clear at all... Or it's me. But I don't understand it.
Plus, it seems it isn't an issue but a request for technical support.
For this purpose, please create a question on stackoverflow instead of posting an issue on github, which is made for development purpose or bug tracking. Even if you are maybe in face of a bug, for now it is not clear at all. So please in a first time, cla

[2016-11-21 09:58] rbecheras commented on #307
@deeg I think you can close this issue.

[2016-12-01 14:42] moumoune opened #309 "Cannot type small letter 'y'"
Thank for this project. Unfortunately we found an issue which is impacting high to our customers. The issue is, when we manually typing letter 'y' from keyboard, its not getting displayed on the editor (version"latest" of angular-ui-tynimce) but working for capital letter 'Y'.

[2016-12-01 16:25] luispeerez commented on #309
Same here, using 0.0.17 version

[2016-12-06 10:53] atodicebear commented on #309
Check this out maybe it helps you
https://github.com/tinymce/tinymce/issues/3363

[2016-12-06 17:26] moumoune commented on #309
Hi, thank you for the answer, but I had already watched this issue.

The problem is not in the TinyMCE library but in ui-tynimce, because their dependency on TinyMCE is not up to date with the fix !

[2016-12-06 17:30] moumoune commented on #309
In their bower.json :

[code]
The 4.5.0 version cause the 'y' error, not the 4.4.3...

[2016-12-06 23:31] S7Kronos opened #310 "Multiple ui-tinymce elements do not have unique ids"
Views with multiple tinymce elements in it do not always get a unique ID assigned to them by the directive.

The directive always generates a unique ID for the HTML element used for the tinymce editor, and it generates the unique id using a timestamp (see line 54 in the code).  If the browser builds the view fast enough then multiple tinymce elements could have duplicate IDs. When this occurs only

[2016-12-07 02:32] HaiTrung commented on #253
@lordfriend : you can tell me method override $setPristine by decorator? thank you

[2016-12-07 03:07] lordfriend commented on #253
@HaiTrung This solution is not a decorator, because $setPristine should only be override on the formController which wraps the the ui-tinymce.

I use a directive to do this job.

[code]

[2016-12-07 14:51] HaiTrung commented on #253
thank u very much

[2016-12-15 01:13] alairjt commented on #265
+1

[2016-12-15 12:28] antonioaltamura opened #311 "Cannot read property 'body' of undefined"
Hi,
I'm having trouble with angular 1.6 integration.
My usage is nothing special:
[code]

I use a Service for share tinyMceOptions in various Controllers
**Controller**
[code]
**Service**

[code]

[2016-12-16 17:58] deeg opened #312 "Help maintaing"
Hey everyone, I'm sorry about the limited time I have had to maintain this library.

Things at work have been crazy and have been focusing on things Angular 2.

If you would like to help maintain the library please contact me either in this post or via email so we can talk.

[2016-12-16 18:02] #309 closed

[2016-12-16 18:03] deeg commented on #311
I have not tested it with 1.6 yet, and don't have the time at the moment.

Feel free to put out a PR if you have a fix to make it work with 1.6

At the very minimal please make a plunker demonstrating the issue so people can help debug and solve it.

[2016-12-16 18:20] #310 closed

[2016-12-16 18:20] #304 closed

[2016-12-16 18:20] #305 closed

[2016-12-16 18:23] #307 closed

[2016-12-16 18:23] #303 closed

[2016-12-16 18:23] deeg commented on #303
Fixed in 0.0.18 release.

[2016-12-16 18:39] deeg commented on #217
@gyulakrizsma's change should already be in the latest release. Going to close this as should not be an issue any more. Please let me know if you are still seeing issues with latest version and we can re-open.

[2016-12-16 18:39] #217 closed

[2016-12-22 02:32] nblasgen commented on #265
@mostafabarmshory solution worked for me.  Not quite sure why it was necessary, but I don't need to know.

[2016-12-22 02:34] deeg commented on #265
I am going to close this issue as this is not an issue with ui-tinymce library itself.

If you feel there is still an issue in this library please open an new issue with a plunker recreating the issue.

[2016-12-22 02:34] #265 closed

[2016-12-23 14:07] mjmarianetti opened #313 "On focus lost, ng-model not being updated"
When you have text in the editor, and you erase it selecting it and pressing backspace. The directive does not update the ng-model.

Quickfix (I am using typescript, the example might not work but you get the idea):

$scope.model;
$scope.ngModelCtrl;

[code]

[2016-12-26 22:56] deeg commented on #313
Please post a plunker showing your issue or post a PR fixing your problem.

[2017-01-05 10:45] iJungleboy opened #315 "Form gets $dirty by default with debounce = false"
This is a follow up of issue #238 which should have fixed incorrect $dirty reports.

Basically what happens is that a form just loaded will report the field as being dirty, even if it hasn't been touched yet - IF debounce is set to false. When debounce is set to true, the warnings works kind-of correctly, but only after a certain delay - meaning the user must pause before hitting save.

[2017-01-12 16:15] atodicebear opened #316 "Simple TinyMce Errors "o is not Constructor" and "property onload of null""
As in the Title Mentioned a simple setting up of TinyMce throws this 2 Errors.
In Detail
`TypeError: o is not a constructor` is thrown when I open the Site with the Editor.
`TypeError: Cannot set property 'onload' of null` is thrown when I change from the Site with the Editor to any other Site.
More Details at
http://stackoverflow.com/questions/41617815/simple-tinymce-throws-o-is-not-constructor-a

[2017-01-12 19:34] deeg commented on #316
Please do not use this for support questions, but only for bugs which can be reproduced by a plunker.

[2017-01-12 19:34] #316 closed

[2017-01-16 18:15] RustyDev opened #317 "iOS - clicking outside tinymce editor doesn't close keyboard"
We're running into issues with the iOS keyboard not closing when clicking outside the tinymce instance. Not sure if this is a ui-tinymce or tinymce issue.

I've set up a simple CodePen that has a normal textarea and a tinymce instance. Typing in the textarea and then clicking submit properly closes the iOS keyboard. The same isn't true for the tinymce instance.

http://codepen.io/rustydev/full/eb9

[2017-01-16 22:11] deeg commented on #317
@RustyDev, it should be pretty easy to see if it is a tinymce or ui-tinymce issue.

I do not have an iphone, but can you try brining up [TinyMCE's Demo](https://www.tinymce.com/docs/demo/basic-example/) on the phone in question and see if the same issue exists?

[2017-01-16 22:15] deeg commented on #315
Please post a plunker reproducing the issue so people can look into fixing it.

A PR fixing the issue would be nice if you have found a reproducible bug.

[2017-01-16 22:16] deeg commented on #312
Bumping this to the top. Still looking for help maintaining the library.

[2017-01-17 06:39] iJungleboy commented on #315
sorry for seeming daft, but I've never made a plunkr. Do you have a good sample using angular-ui-tinymce unto which I could then build upon?

[2017-01-17 18:38] RustyDev commented on #317
It still persists so it looks like an issue with tinymce itself.

[2017-01-17 18:38] #317 closed

[2017-02-03 09:39] moumoune commented on #309
It's works fine now. :+1:

[2017-02-03 14:58] mtutty commented on #41
Sorry, we're still seeing it fail.  The $scope var is not updated, even though it does initially bind from the ng-model var.

Try changing the content in the first editor tab.  The p below is bound to the same scope var, and the button shows the scope var.  Neither of these shows the right value after changing the bound tinymce div.

http://codepen.io/mtutty/pen/NdMyBv

[2017-02-06 22:30] mahendhar9 opened #318 "How to upload image?"
Hello.
What am I doing wrong here, the browse image button doesn't show up.
[code]

[code]

Thanks

[2017-02-15 17:13] saboehnke opened #320 "Testing with Jasmine and karma"
Is it possible to get the content that is loaded into tinymce when using jasmine and karma? tinymce.activeEditor.getContent() is null since it acts as if the tinymce object doesn't exist.

[2017-02-16 22:05] #320 closed

[2017-02-25 07:59] yuliusvk opened #321 "Not Refresh model with select all and delete"
Hi,

I have the next problem: Select al content of the editor (ctrl+A) presst backspace to delete all content, Then if check the content model attributte is not empty and have the initial content.

[2017-02-28 10:09] Jbz797 commented on #312
Have you started working on the Angular 2 version?

[2017-02-28 15:53] JulienLaclaverie opened #322 "I can't create a TinyMCE on demand"
Hello,

I need some guidance here, I'm trying to load a page with multiple text-area on it, but only load the tinyMCE on a specifyed textarea when it's needed.

To do so, TinyMCE gives access to this function :
`tinymce.execCommand('mceAddControl',false,'MyTextareaId');`

But to use `execCommand` with tinyMCE you need to be inside a TinyMCE configuration :
`
$scope.tinymceOptions = {
    setup: fu

[2017-02-28 18:08] deeg commented on #312
No, [TinyMCE has documented](https://www.tinymce.com/docs/integrations/angular2/) how to use an editor in Angular 2 though.

I am using Angular 2 at work now, and when I need an editor I was going to write a wrapper if one does not yet exist if it seems like it is needed.

[2017-03-04 11:57] novitas-consulting opened #323 "Not refreshing model when select all then delete/cut/undo using mouse - Firefox"
Similar issue to #321

On Firefox (I'm using the latest version):
- select all content in the editor
- right click on mouse and select "delete", "cut" or "undo" from the menu

The model is not being refreshed with any of the above actions and still has the original value

[2017-03-06 10:44] atodicebear commented on #12
Is this Solved?
Im still facing this Problem

Its still the same as mentioned from @wesleycho
I have a Table with Editors with Pagination.
Sorting this Table works fine as long there are more than >1 Pages.
As soon through Search,Filter, Deleting and so on only 1 Page lasts the Sort destroys the Editors.
As before mentioned still holding the Content but Whiteblocking the Editor -> No Edits and Fun

[2017-03-08 07:49] michal-filip commented on #321
Hi, we're experiencing the same issue (still on 0.0.16 though). Did you find any way fix/workaround?

[2017-03-13 11:59] eudago commented on #316
this is a bug, reopen plz

[2017-03-15 16:54] garyfagan1987 commented on #210
likewise thanks @gera2ld :)

[2017-03-21 07:27] anuroopjoy opened #325 "debounce update delay configurable?"
Is it possible to make the debounce time delay in the angular-ui-tinymce as configurable? The debounce delay is causing issues while working with other plugins like ment.io (mentions). So it would be great if we could override the delay without editing the library.

[2017-03-21 18:08] MichaelFromin opened #326 "Can you implement this via import as opposed to a script tag?"
I know that I can add ui-tinymce to a project via a script tag:

`<script type="text/javascript" src="app/bower_components/angular-ui-tinymce/src/tinymce.js"></script>`

...does this directive allow me to use ES2015 style imports instead?  Something like:

`import 'angular-ui/dist/tinymce';`

I don't see anything in the readme on this approach so just curious if its possible.

[2017-03-25 17:47] ionutanin commented on #322
any update here?
I get Uncaught TypeError: pe[a].exec is not a function when trying to use multiple instances of tinymce

[2017-03-29 05:54] chuckconway opened #327 "Holding backspace down to delete all the characters does not update the model"
I'm having an issue where holding down the backspace key removes all the characters from the editor, but it does not update the angular model.

From what I can tell this code is not firing:

          updateView = function(editor) {
            var content = editor.getContent({format: options.format}).trim();
            content = $sce.trustAsHtml(content);

            ngModel.$setViewValue(conte

[2017-03-29 07:02] chuckconway commented on #327
I've discovered a workaround -- set debounce to 'false'.

I've also noticed debounced to hardcoded to 400ms. Maybe make this a configurable value?

When I reduce the debounce to 50ms, I'm no longer able to reproduce the issue.

[2017-03-29 08:24] vutaviva opened #328 "Tinymce 4.5.5 could not be loaded by ui-tinymce"
I upgrade to Tinymce 4.5.5. As a result, ui-tinymce could not load tinymce. TinyMce 4.5.4 still be loaded normally. How to fix it?

[2017-03-29 09:11] yilujun100 opened #329 "some custom options do not work"
in my custom options some do not work
such as: bullist numlist image forecolor backcolor
this is my options:
![image](https://cloud.githubusercontent.com/assets/5162481/24447160/9f4a7768-14a2-11e7-9ffc-47430ecef5aa.png)
this is view:
![image](https://cloud.githubusercontent.com/assets/5162481/24447185/b35377f0-14a2-11e7-83bb-8386e53c3497.png)

[2017-04-03 13:15] strategeens commented on #41
We are also experiencing the same problem.

Inline editor often doesn't save added content. Sometimes it saves well. Console is empty, no errors.

On Chrome it doesn't save amost half of the times. On Firefox it doesn't save only around 10%.

[2017-04-03 13:27] strategeeks commented on #41
We are also experiencing the same problem.

Inline editor often doesn't save added content. Sometimes it saves well. Console is empty, no errors.

On Chrome it doesn't save amost half of the times. On Firefox it doesn't save only around 10%.

[2017-04-04 13:47] christophbuehler commented on #315
If debounce is set to 'false', no dirty-check is made before updating the view. Therefore, the editor is considered dirty by default (take a look at 'debouncedUpdate', which performs a dirty-check).
https://github.com/angular-ui/ui-tinymce/blob/master/src/tinymce.js#L95-L102

A tested patch:
[code]

[2017-05-03 19:43] saboehnke opened #331 "Print plugin not populating"
I am attempting to add the print plugin to my implementation of tinymce but no matter what it will not show up. Here is what I have for setting it up:

`$scope.tinymceOptions =
        {
            onChange: function (e)
            {
                // put logic here for keypress and cut/paste changes
            },
            inline: false,
            plugins: "code, textcolor, image, preview

[2017-05-08 20:16] #331 closed

[2017-05-11 08:15] chrispcb opened #332 "Doesn't work if ID exists in TEXTAREA tag"
Ex:
[code]

**Fixe**:
[code]

[2017-05-15 12:58] DarkIsDude commented on #332
Hi,

I don't contribute to this project but in README:
`Be sure not to set an id attribute. This is because the directive needs to maintain selector knowledge in order to handle buggy behavior in TinyMCE when DOM manipulation is involved, such as in a reordering of HTML through ng-repeat or DOM destruction/recreation through ng-if.` Maybe more complicated?

[2017-05-16 08:09] tungtouch commented on #329
Same

[2017-05-29 18:39] eswar557 opened #333 "Set focus on click of label"
Hi,
How to define 'label' for this directive.

[2017-06-07 20:10] TOuhrouche commented on #41
Same issue here, the caret keeps going to the beginning of the line. Tried both Div and Text area, still the same :(

[2017-06-13 12:01] hiramegl opened #335 "Angular 1.3.6"
Hi,

I've tried to install ui-tinymce in a Visual Studio 2017 solution through a nuget package.
Unfortunately, I cannot update the version of angular from 1.3.6 to 1.4.x, it just breaks too many things in our code (which is kind of big project).
Therefore I decided to clone the ui-tinymce git repo and copy the code directly into a file in my solution (instead of going through the nuget package and

[2017-06-16 18:21] saboehnke opened #336 "Input box sizes are reset on Print Preview popup close"
I have print preview enabled on my implementation of TinyMCE. I have three text boxes that sit above the editor. Whenever I have things in the editor and I open the print preview and then close it, the text boxes are changed to a really small size where not even the placeholders can be read anymore. I have tried things like ng-cloak to reset this but I have not had any luck. Any ideas on this?

[2017-06-16 18:38] #336 closed

[2017-06-17 15:48] ershwetabansal commented on #329
I am not sure if you are aware of this but you will have to add tinymce plugins to add some of the features of tinymce. It has nothing to do with angular directive.
For bullist and numlist, advlist is the plugin name. I will recommend you to go through the tinymce documentation for more information and advanced features.

[2017-06-17 22:54] ershwetabansal commented on #260
Hey Dan, I was facing the same issue with ui-tinymce where save callback is not getting called. I have created a PR along with tests to fix the issue. Could you please check the same and merge it if you find it okay.

[2017-06-20 09:55] anishkvirani commented on #207
Hi @iJungleboy,

I tried to use your code for lazy loading of inline tinymce but that doesn't seem to work now. May be the version of tinyMce and ui-tinyMce have changed.
I am using inline tinyMce in a dynamic page builder app where we can have 100-200 inline editors which is making the builder app slow to load.

Any help is appreciated.
Thanks in advance.

[2017-06-21 06:30] iJungleboy commented on #207
Yes, we have it working as needed. The main form doesn't know anything about tinymce, only if it's included in one of the components does lazy-loading kick in.

[2017-06-27 05:19] andyfensham commented on #300
Did you find a solution for this. I am also trying to use it but it is not working. I see there were no response to this.

[2017-06-28 11:21] Eragra3 commented on #300
Hi, Andy,

I couldn't solve that problem, we just ignored autosave.
I guess one solution would be to create custom Angular wrapper, that shouldn't be actualy that hard.

[2017-07-05 18:46] rohanagarwal36 opened #338 "Using built in tinymce functions"
There are a lot of built in tinymce functions like uploadImages() to upload all images altogether. How can I call these functions in the angular code?

[2017-07-06 15:47] deeg commented on #338
Sorry please use other venues for support questions. StackOverflow is usually a good place.

[2017-07-06 15:47] #338 closed

[2017-07-07 07:41] madflow opened #339 "Refresh Event leads to memory leak"
After fireing the "$tinymce:refresh" event multiple times (after 10 times or so it becomes obvious) - the repaint takes longer and longer:

http://plnkr.co/edit/Vu1e9gTbAJwNdtXtdA64?p=preview